/*!
 * Rimanews Web Application Stylesheet
 * =============================================================================
 * Author   : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Copyright: Rimanews.com (PT. Rimanews Indonesia)
 * Since    : 2016-08-28 (v1.0.0) - Initial version
 * Updated  : 2016-10-21 (v1.1.0) - Change directory for style import
 */
/* CORE */
/* Basic Styles
 ================================================== */
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  color: #333;
  background-color: #FAFAFA;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul > li {
  margin: 0;
  padding: 0;
}

a, button, input[type="button"], input[type="submit"] {
  outline: none !important;
}

/* Default Layout
 ================================================== */
#webapp {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#webapp #app-content {
  height: 100%;
}

#app-desktop-overlay {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.77);
  z-index: 1001;
}

/* Utilities Class
 ================================================== */
.no-col-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-paragraph-margin {
  margin-bottom: 0;
}

/* Animation
 ================================================== */
.picture-preloader {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

.square-animation {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  margin: 0 auto;
  border: solid 1px #2196f3;
  -webkit-animation: fill_color 5s linear infinite;
  animation: fill_color 5s linear infinite;
}

.square-animation:after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -8px;
  left: 0px;
  background-color: #2196f3;
  -webkit-animation: square_check 1s ease-in-out infinite;
  animation: square_check 1s ease-in-out infinite;
}

@-webkit-keyframes square_check {
  25% {
    left: 22px;
    top: -8px;
  }
  50% {
    left: 22px;
    top: 22px;
  }
  75% {
    left: -9px;
    top: 22px;
  }
  100% {
    left: -9px;
    top: -7px;
  }
}

@keyframes square_check {
  25% {
    left: 22px;
    top: -8px;
  }
  50% {
    left: 22px;
    top: 22px;
  }
  75% {
    left: -9px;
    top: 22px;
  }
  100% {
    left: -9px;
    top: -7px;
  }
}

@-webkit-keyframes fill_color {
  0% {
    box-shadow: inset 0px 0px 0px 0px rgba(33, 150, 243, 0.1);
  }
  100% {
    box-shadow: inset 0px -20px 0px 0px #2196f3;
  }
}

@keyframes fill_color {
  0% {
    box-shadow: inset 0px 0px 0px 0px rgba(33, 150, 243, 0.1);
  }
  100% {
    box-shadow: inset 0px -20px 0px 0px #2196f3;
  }
}

.b-lazy {
  opacity: 0;
  transition: opacity 325ms ease-in-out;
}

.b-lazy.b-loaded {
  opacity: 1;
}

/* ICONORIMA FONT FACE */
@font-face {
  font-family: 'iconorima';
  src: url("../fonts/iconorima.eot?27801195");
  src: url("../fonts/iconorima.eot?27801195#iefix") format("embedded-opentype"), url("../fonts/iconorima.woff2?27801195") format("woff2"), url("../fonts/iconorima.woff?27801195") format("woff"), url("../fonts/iconorima.ttf?27801195") format("truetype"), url("../fonts/iconorima.svg?27801195#iconorima") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconorima';
    src: url('../font/iconorima.svg?3566079#iconorima') format('svg');
  }
}
*/
.iconorima[class^="icon-"]:before, .iconorima[class*=" icon-"]:before {
  display: inline-block;
  font-family: "iconorima";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  speak: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconorima.icon-menu:before {
  content: '\e800';
}

.iconorima.icon-arrow-back:before {
  content: '\e801';
}

.iconorima.icon-arrow-upward:before {
  content: '\e80d';
}

.iconorima.icon-search:before {
  content: '\e802';
}

.iconorima.icon-close:before {
  content: '\e803';
}

.iconorima.icon-chevron-down:before {
  content: '\e804';
}

.iconorima.icon-chevron-left:before {
  content: '\e805';
}

.iconorima.icon-chevron-right:before {
  content: '\e806';
}

.iconorima.icon-chevron-up:before {
  content: '\e807';
}

.iconorima.icon-share:before {
  content: '\e808';
}

.iconorima.icon-facebook:before {
  content: '\e809';
}

.iconorima.icon-twitter:before {
  content: '\e80a';
}

.iconorima.icon-line:before {
  content: '\e80b';
}

.iconorima.icon-whatsapp:before {
  content: '\e80c';
}

.iconorima.icon-copy:before {
  content: '\e80e';
}

.iconorima.icon-gplus:before {
  content: '\e80f';
}

.iconorima.icon-email:before {
  content: '\e810';
}

/* SPINNER LOADER */
.rima-lazy-spinner.block {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.rima-lazy-spinner.inline {
  display: inline-block;
}

.rima-lazy-spinner.small .spinner {
  width: 34px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -17px;
}

.rima-lazy-spinner.small .spinner > span {
  width: 10px;
  height: 10px;
}

.rima-lazy-spinner.small .spinner > span:not(:last-of-type) {
  margin-right: 2px;
}

.rima-lazy-spinner.medium .spinner {
  width: 66px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -33px;
}

.rima-lazy-spinner.medium .spinner > span {
  width: 20px;
  height: 20px;
}

.rima-lazy-spinner.medium .spinner > span:not(:last-of-type) {
  margin-right: 3px;
}

.rima-lazy-spinner.large .spinner {
  width: 98px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -49px;
}

.rima-lazy-spinner.large .spinner > span {
  width: 30px;
  height: 30px;
}

.rima-lazy-spinner.large .spinner > span:not(:last-of-type) {
  margin-right: 4px;
}

.rima-lazy-spinner .spinner > span {
  background-color: rgba(33, 150, 243, 0.5);
  border-radius: 100%;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.rima-lazy-spinner .spinner > span.bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.rima-lazy-spinner .spinner > span.bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* APPLICATION TOPBAR STYLE */
#app-master-topbar {
  width: 100%;
  height: 84px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 18px 15px;
  color: #263238;
  background-color: #fafafa;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.23);
  z-index: 1001;
}

#app-master-topbar.no-shadow {
  box-shadow: 0 0 0 transparent;
}

#app-master-topbar.translucent {
  background-color: rgba(250, 250, 250, 0);
  color: #FFF;
}

#app-master-topbar.translucent #topbar-wrapper #app-breadcrumb #breadcrumb-label.label-logo {
  background-position: 0 8px;
}

#app-master-topbar #topbar-wrapper {
  height: 100%;
  position: relative;
}

#app-master-topbar #topbar-wrapper #app-breadcrumb {
  height: 100%;
  position: absolute;
  left: 15px;
  top: 0;
  margin-left: 61px;
  z-index: 1;
}

#app-master-topbar #topbar-wrapper #app-breadcrumb #breadcrumb-label {
  height: 100%;
  min-width: 170px;
  margin: 0;
  font-size: 1.625em;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.25pt;
  text-transform: uppercase;
  color: inherit;
}

#app-master-topbar #topbar-wrapper #app-breadcrumb #breadcrumb-label.label-logo {
  background-image: url("../images/rima-text-smsprite.png");
  background-repeat: no-repeat;
  background-position: 0 -39px;
  background-size: 168px 150px;
  font-size: 0;
}

#app-master-topbar #topbar-wrapper #app-controls {
  height: 0;
  min-height: 0;
  position: relative;
  z-index: 3;
}

#app-master-topbar #topbar-wrapper #app-controls .control-group .control-button:not(:first-child) {
  margin-left: 39px;
}

#app-master-topbar #topbar-wrapper #app-controls .control-button {
  width: 48px;
  height: 48px;
}

#app-master-topbar #topbar-wrapper #app-controls .control-button > a, #app-master-topbar #topbar-wrapper #app-controls .control-button > button {
  width: 100%;
  height: 100%;
  color: inherit;
  font-size: 3em;
  display: block;
  position: relative;
}

#app-master-topbar #topbar-wrapper #app-controls .control-button > a > i.dark, #app-master-topbar #topbar-wrapper #app-controls .control-button > button > i.dark {
  color: #263238;
}

#app-master-topbar #topbar-wrapper #app-controls .control-button > button {
  padding: 0;
  border: none;
  background-color: transparent;
}

#app-master-topbar #topbar-wrapper #app-controls .control-button#ctrl__rubrics {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15px;
}

#app-master-topbar #topbar-wrapper #app-controls .control-button#ctrl__rubrics > a > i.icon-logo {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  background: url("../images/webapp-icon.png") no-repeat 100%/cover;
  display: block;
}

#app-master-topbar #topbar-wrapper #search-field {
  width: 25%;
  height: 84px;
  position: fixed;
  padding: 18px 0;
  right: 0;
  top: 0;
  color: #263238;
  background-color: #FAFAFA;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.23);
  z-index: 2;
}

#app-master-topbar #topbar-wrapper #search-field > form {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 63px 0 15px;
  z-index: 1;
}

#app-master-topbar #topbar-wrapper #search-field > form > a {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15px;
  color: inherit;
  font-size: 3em;
}

#app-master-topbar #topbar-wrapper #search-field > form > input[type='search'] {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #FAFAFA;
  border: 0;
  color: #333;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

/* SHARING STYLE */
#sharing {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

#sharing #sharing-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
}

#sharing #sharing-container .intents-row > div {
  color: #FFF;
  border: solid 1px #000;
}

#sharing #sharing-container .intents-row > div.facebook {
  background-color: #3B5998;
}

#sharing #sharing-container .intents-row > div.twitter {
  background-color: #2AA2EF;
}

#sharing #sharing-container .intents-row > div.gplus {
  background-color: #DE5246;
}

#sharing #sharing-container .intents-row > div.line {
  background-color: #4ECD00;
}

#sharing #sharing-container .intents-row > div.whatsapp {
  background-color: #0DC143;
}

#sharing #sharing-container .intents-row > div.copy {
  background-color: #4EC9F5;
}

#sharing #sharing-container .intents-row > div > button {
  width: 100%;
  padding: 9px 0;
  white-space: nowrap;
  background-color: transparent;
  outline: none;
  border: none;
}

#sharing #sharing-container .intents-row > div > a {
  display: none;
}

#sharing #sharing-container .intents-row > div i.iconorima {
  height: 25px;
  display: block;
  margin: 4px 0;
  font-size: 1.5em;
}

/* LANDING AND READ PAGE STYLE */
/* Landing News Content Style
 ================================================== */
#landing {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation-duration: 175ms;
          animation-duration: 175ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

#landing .swiper-navigator {
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -32px;
  z-index: 2;
}

#landing .swiper-navigator.disabled > button:first-child {
  -webkit-transform: translateX(-70px);
      -ms-transform: translateX(-70px);
          transform: translateX(-70px);
}

#landing .swiper-navigator.disabled > button:last-child {
  -webkit-transform: translateX(70px);
      -ms-transform: translateX(70px);
          transform: translateX(70px);
}

#landing .swiper-navigator > button {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.66);
  font-size: 3.375em;
  color: #FAFAFA;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  transition: -webkit-transform 275ms cubic-bezier(1, 0, 0, 1);
  transition: transform 275ms cubic-bezier(1, 0, 0, 1);
  transition: transform 275ms cubic-bezier(1, 0, 0, 1), -webkit-transform 275ms cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

#landing .swiper-navigator > button:first-child {
  left: 6px;
}

#landing .swiper-navigator > button:last-child {
  right: 6px;
}

#landing .news-slide-hint {
  width: 100%;
  height: 61px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#landing .news-slide-hint::before {
  content: '';
  width: 100%;
  height: 108px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1;
}

#landing .news-slide-hint .inner-hint-wrapper {
  width: 94%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  border-top: solid 1px rgba(255, 255, 255, 0.33);
  z-index: 2;
}

#landing .news-slide-hint .inner-hint-wrapper .hint-text {
  width: 50%;
  padding-top: 16px;
  display: block;
  font-size: 1.125em;
  color: #FFF;
}

#landing .news-slide-hint .inner-hint-wrapper .hint-text.prefix {
  padding-right: 23px;
  text-align: right;
}

#landing .news-slide-hint .inner-hint-wrapper .hint-text.suffix {
  padding-left: 23px;
  text-align: left;
}

#landing .news-slide-hint .inner-hint-wrapper .hint-gesture {
  width: 22px;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -11px;
  background: transparent url("../images/icon-gesture.png") no-repeat;
}

#landing #article-jumper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  background-color: #2196F3;
  border-radius: 64px;
  padding: 3px;
  z-index: 2;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 3px 9px 4px rgba(7, 62, 134, 0.22);
}

#landing #article-jumper > button {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #FAFAFA;
  border: none;
  border-radius: 42px;
}

#landing #article-jumper > button > i.iconorima {
  font-size: 28px;
  color: #2196F3;
}

#landing .news-content {
  height: 100%;
}

#landing .news-content .news-item-cover {
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

#landing .news-content .news-item-cover::before {
  content: '';
  width: 100%;
  height: 242px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  z-index: 2;
}

#landing .news-content .news-item-cover .background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#landing .news-content .news-item-cover .background-wrapper > img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
}

#landing .news-content .news-item-cover .background-wrapper [id$='-bg-canvas'] {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#landing .news-content .news-item-cover .background-wrapper [id$='-bg-video'] {
  width: auto;
  height: 100%;
  position: relative;
}

#landing .news-content .news-item-cover .background-wrapper [id$='-bg-video'] > video {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#landing .news-content .news-item-cover .background-wrapper [id$='-bg-video'] .vjs-loading-spinner,
#landing .news-content .news-item-cover .background-wrapper [id$='-bg-video'] .vjs-big-play-button,
#landing .news-content .news-item-cover .background-wrapper [id$='-bg-video'] .vjs-control-bar,
#landing .news-content .news-item-cover .background-wrapper [id$='-bg-video'] .vjs-caption-settings,
#landing .news-content .news-item-cover .background-wrapper [id$='-bg-video'] .vjs-error-display {
  display: none;
}

#landing .news-content .news-item-cover .background-wrapper .swiper-lazy-preloader {
  z-index: 3;
}

#landing .news-content .news-item-cover .cover-title {
  width: 100%;
  position: absolute;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  color: #FFF;
  z-index: 3;
  word-break: break-word;
}

#landing .news-content .news-item-cover .cover-title.top {
  top: 96px;
}

#landing .news-content .news-item-cover .cover-title.bottom {
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 99px;
}

#landing .news-content .news-item-cover .cover-title.centered-text {
  text-align: center;
}

#landing .news-content .news-item-cover .cover-title.rtl-text {
  text-align: right;
}

#landing .news-content .news-item-cover .cover-title.font-xlarge {
  font-size: 3.875em;
  line-height: 1.075em;
}

#landing .news-content .news-item-cover .cover-title.font-large {
  font-size: 3.125em;
  line-height: 1.25em;
}

#landing .news-content .news-item-cover .cover-title.font-normal {
  font-size: 2.375em;
  line-height: 1.325em;
}

#landing .news-content .news-item-cover .cover-title > button {
  position: absolute;
  bottom: 0;
  left: 3%;
  margin: 0 0 -76px 76px;
  padding: 12px 15px;
  background-color: #00b0ff;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02135em;
  box-shadow: 0 0 27px 5px rgba(0, 0, 0, 0.45);
}

#landing .news-content .news-item-cover .cover-title > p {
  width: 100%;
  padding: 0 3%;
  text-shadow: 0 0 27px #222;
}

#landing .news-content .news-item-cover .cover-title > p.subtitle-heading {
  font-size: 0.421em;
  line-height: 1.5em;
}

#landing .news-content .news-item-article {
  position: relative;
  padding-top: 84px;
  overflow: auto;
  z-index: 5;
}

#landing .preloader-content {
  height: 100%;
}

#landing .preloader-content::before {
  content: '';
  width: 100%;
  height: 242px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -ms-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 2;
}

#landing .preloader-content::after {
  content: '';
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  z-index: 2;
}

#landing .preloader-content .loader {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  background-color: #FAFAFA;
  white-space: nowrap;
}

#landing .preloader-content .loader > i.spinner {
  width: 100%;
  height: 100%;
  display: block;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center/42px 42px;
  font-size: 0;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
          animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

#landing .preloader-content .loader > .status {
  width: 200px;
  display: block;
  margin-top: 7px;
  margin-left: -79px;
  text-align: center;
}

/* Read News Content Style
 ================================================== */
#read {
  height: 100%;
  padding-top: 84px;
  background-color: #FAFAFA;
  z-index: 102;
  overflow: auto;
}

/* News Article Style
 ================================================== */
#landing .news-item-article .article-preloader, #read .article-preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 84px;
  background-color: #FAFAFA;
  z-index: 3;
  overflow: hidden;
}

#landing .news-item-article .article-preloader .ap-header .ap-rubrics, #read .article-preloader .ap-header .ap-rubrics {
  width: 94%;
  margin: 20px auto 0;
}

#landing .news-item-article .article-preloader .ap-header .ap-rubrics > span, #read .article-preloader .ap-header .ap-rubrics > span {
  height: 23px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: top;
  font-size: 0.6875em;
  line-height: 23px;
  color: #E4E4E4;
}

#landing .news-item-article .article-preloader .ap-header .ap-rubrics > span:first-of-type, #landing .news-item-article .article-preloader .ap-header .ap-rubrics > span:last-of-type, #read .article-preloader .ap-header .ap-rubrics > span:first-of-type, #read .article-preloader .ap-header .ap-rubrics > span:last-of-type {
  width: 60px;
  background-color: #E4E4E4;
}

#landing .news-item-article .article-preloader .ap-header .ap-rubrics > span:last-of-type, #read .article-preloader .ap-header .ap-rubrics > span:last-of-type {
  margin-right: 0;
}

#landing .news-item-article .article-preloader .ap-header .ap-title, #read .article-preloader .ap-header .ap-title {
  width: 580px;
  height: 37px;
  display: block;
  margin-top: 10px;
  margin-left: 3%;
  background-color: #E4E4E4;
}

#landing .news-item-article .article-preloader .ap-header .ap-meta, #read .article-preloader .ap-header .ap-meta {
  width: 278px;
  height: 42px;
  margin-top: 18px;
  margin-left: 3%;
}

#landing .news-item-article .article-preloader .ap-header .ap-meta .apm-l, #read .article-preloader .ap-header .ap-meta .apm-l {
  width: 50%;
  height: 100%;
}

#landing .news-item-article .article-preloader .ap-header .ap-meta .apm-r, #read .article-preloader .ap-header .ap-meta .apm-r {
  width: 46%;
  height: 100%;
  margin-left: 4%;
}

#landing .news-item-article .article-preloader .ap-header .ap-meta .apm-l > span, #landing .news-item-article .article-preloader .ap-header .ap-meta .apm-r > span, #read .article-preloader .ap-header .ap-meta .apm-l > span, #read .article-preloader .ap-header .ap-meta .apm-r > span {
  display: block;
  background-color: #E4E4E4;
}

#landing .news-item-article .article-preloader .ap-header .ap-meta .apm-l > span:first-of-type, #landing .news-item-article .article-preloader .ap-header .ap-meta .apm-r > span:first-of-type, #read .article-preloader .ap-header .ap-meta .apm-l > span:first-of-type, #read .article-preloader .ap-header .ap-meta .apm-r > span:first-of-type {
  width: 62%;
  height: 17px;
}

#landing .news-item-article .article-preloader .ap-header .ap-meta .apm-l > span:last-of-type, #landing .news-item-article .article-preloader .ap-header .ap-meta .apm-r > span:last-of-type, #read .article-preloader .ap-header .ap-meta .apm-l > span:last-of-type, #read .article-preloader .ap-header .ap-meta .apm-r > span:last-of-type {
  width: 82%;
  height: 21px;
  margin-top: 4px;
}

#landing .news-item-article .article-preloader .ap-body, #read .article-preloader .ap-body {
  height: 100%;
  margin-top: 22px;
}

#landing .news-item-article .article-preloader .ap-body .apb-image, #read .article-preloader .ap-body .apb-image {
  height: 470px;
  display: block;
  background-color: #E4E4E4;
  margin: 0 -15px 0;
}

#landing .news-item-article .article-preloader .ap-body .apb-paragraph, #read .article-preloader .ap-body .apb-paragraph {
  width: 94%;
  margin: 24px auto 0;
}

#landing .news-item-article .article-preloader .ap-body .apb-paragraph > span, #read .article-preloader .ap-body .apb-paragraph > span {
  height: 21px;
  display: block;
  margin-bottom: 13px;
  background-color: #E4E4E4;
}

#landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(1), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(1) {
  width: 80%;
}

#landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(2), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(2) {
  width: 77%;
}

#landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(3), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(3) {
  width: 90%;
}

#landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(4), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(4) {
  width: 89%;
}

#landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(5), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(5) {
  width: 50%;
}

#landing .news-item-article > article, #read > article {
  width: 100%;
}

#landing .news-item-article > article .news-header .news-rubrics, #read > article .news-header .news-rubrics {
  width: 94%;
  height: 24px;
  margin: 20px auto 0;
  position: relative;
}

#landing .news-item-article > article .news-header .news-rubrics::after, #read > article .news-header .news-rubrics::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 12px;
  background-color: #E0E0E0;
}

#landing .news-item-article > article .news-header .news-rubrics .rubrics-wrapper, #read > article .news-header .news-rubrics .rubrics-wrapper {
  width: auto;
  height: 100%;
  display: inline-block;
  position: relative;
  background-color: #FAFAFA;
  z-index: 2;
}

#landing .news-item-article > article .news-header .news-rubrics .rubrics-wrapper > a, #read > article .news-header .news-rubrics .rubrics-wrapper > a {
  font-weight: 700;
  line-height: 24px;
  color: #757575;
  padding-right: 11px;
}

#landing .news-item-article > article .news-header .news-rubrics .rubrics-wrapper .bullet, #read > article .news-header .news-rubrics .rubrics-wrapper .bullet {
  font-size: 0.6875em;
  line-height: 24px;
  color: #BBB;
  padding-right: 11px;
}

#landing .news-item-article > article .news-header .news-title, #read > article .news-header .news-title {
  width: 94%;
  margin: 7px auto 17px;
  font-size: 2.125em;
  font-weight: 700;
  color: #263238;
  line-height: 1.22em;
}

#landing .news-item-article > article .news-header .news-meta, #read > article .news-header .news-meta {
  width: 94%;
  margin: 0 auto 22px;
}

#landing .news-item-article > article .news-header .news-meta .meta-entry, #read > article .news-header .news-meta .meta-entry {
  position: relative;
}

#landing .news-item-article > article .news-header .news-meta .meta-entry.post-date, #read > article .news-header .news-meta .meta-entry.post-date {
  border-right: solid 2px #E0E0E0;
  padding-right: 20px;
}

#landing .news-item-article > article .news-header .news-meta .meta-entry.reporter, #read > article .news-header .news-meta .meta-entry.reporter {
  margin-left: 18px;
  padding-left: 56px;
}

#landing .news-item-article > article .news-header .news-meta .meta-entry .meta-label, #read > article .news-header .news-meta .meta-entry .meta-label {
  font-size: 0.8125em;
  color: #757575;
  text-transform: uppercase;
  display: block;
  line-height: 1.4615em;
}

#landing .news-item-article > article .news-header .news-meta .meta-entry .meta-value, #read > article .news-header .news-meta .meta-entry .meta-value {
  font-weight: 700;
  color: #333;
  display: block;
}

#landing .news-item-article > article .news-header .news-meta .meta-entry .photo, #read > article .news-header .news-meta .meta-entry .photo {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -23px;
  border-radius: 46px;
  overflow: hidden;
}

#landing .news-item-article > article .news-header .news-meta .meta-entry .photo > img, #read > article .news-header .news-meta .meta-entry .photo > img {
  width: 100%;
  height: 100%;
  display: block;
}

#landing .news-item-article > article .news-entry > p, #landing .news-item-article > article .news-entry div, #landing .news-item-article > article .news-entry section, #read > article .news-entry > p, #read > article .news-entry div, #read > article .news-entry section {
  margin-bottom: 19px;
}

#landing .news-item-article > article .news-entry > p, #read > article .news-entry > p {
  font-size: 1.0625em;
  line-height: 1.58823em;
  color: #333;
  letter-spacing: 0.25pt;
}

#landing .news-item-article > article .news-entry > p:not(.row), #read > article .news-entry > p:not(.row) {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

#landing .news-item-article > article .news-entry > p:nth-child(2):first-letter, #read > article .news-entry > p:nth-child(2):first-letter {
  float: left;
  padding: 4px 8px 0 0;
  font-size: 4.6875em;
  line-height: 0.875em;
  color: #263238;
}

#landing .news-item-article > article .news-entry > p.row, #read > article .news-entry > p.row {
  position: relative;
}

#landing .news-item-article > article .news-entry > p.row:first-child, #read > article .news-entry > p.row:first-child {
  margin-bottom: 33px;
}

#landing .news-item-article > article .news-entry > p.row:not(:first-child), #read > article .news-entry > p.row:not(:first-child) {
  margin-top: 33px;
  margin-bottom: 33px;
  padding: 0 7%;
}

#landing .news-item-article > article .news-entry > p.row .figure.figure-headline, #landing .news-item-article > article .news-entry > p.row .figure.figure-paragraph, #read > article .news-entry > p.row .figure.figure-headline, #read > article .news-entry > p.row .figure.figure-paragraph {
  position: relative;
  display: block;
  background-color: #E7E7E7;
  overflow: hidden;
}

#landing .news-item-article > article .news-entry > p.row .figure.figure-headline::before, #landing .news-item-article > article .news-entry > p.row .figure.figure-paragraph::before, #read > article .news-entry > p.row .figure.figure-headline::before, #read > article .news-entry > p.row .figure.figure-paragraph::before {
  content: "";
  padding-top: 56.25%;
  display: block;
}

#landing .news-item-article > article .news-entry > p.row .figure.figure-headline > img, #landing .news-item-article > article .news-entry > p.row .figure.figure-paragraph > img, #read > article .news-entry > p.row .figure.figure-headline > img, #read > article .news-entry > p.row .figure.figure-paragraph > img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#landing .news-item-article > article .news-entry > p.row .figure.figure-paragraph, #read > article .news-entry > p.row .figure.figure-paragraph {
  width: 70%;
}

#landing .news-item-article > article .news-entry > p.row .caption.caption-headline, #read > article .news-entry > p.row .caption.caption-headline {
  display: block;
  max-width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 13px 3% 13px;
  font-size: 0.9375em;
  font-style: italic;
  font-weight: 700;
  text-align: right;
  background-color: rgba(250, 250, 250, 0.88);
}

#landing .news-item-article > article .news-entry > p.row .caption.caption-headline::after, #read > article .news-entry > p.row .caption.caption-headline::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: -50%;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,fafafa+100&0+0,0.88+100 */
  /* FF3.6-15 */
  /* Chrome4-9,Safari4-5 */
  /* Chrome10-25,Safari5.1-6 */
  /* Opera 11.10-11.50 */
  /* IE10 preview */
  background: linear-gradient(to right, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.88) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#e0fafafa',GradientType=1 );
  /* IE6-9 */
}

#landing .news-item-article > article .news-entry > p.row .caption.caption-paragraph, #read > article .news-entry > p.row .caption.caption-paragraph {
  position: absolute;
  top: 0;
  right: 7%;
  width: 23%;
  padding: 18px 0;
  font-size: 23px;
  line-height: 37px;
  font-style: italic;
  color: #757575;
}

#landing .news-item-article > article .news-entry > p.row .caption.caption-paragraph::before, #read > article .news-entry > p.row .caption.caption-paragraph::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #E0E0E0;
}

#landing .news-item-article > article .news-entry > p.row .caption.caption-paragraph::after, #read > article .news-entry > p.row .caption.caption-paragraph::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #E0E0E0;
}

#landing .news-item-article > article .news-entry > p.row > iframe, #landing .news-item-article > article .news-entry > p.row > video, #read > article .news-entry > p.row > iframe, #read > article .news-entry > p.row > video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#landing .news-item-article > article .news-entry > h3, #read > article .news-entry > h3 {
  width: 94%;
  margin: 23px auto 14px;
  font-size: 1.5em;
  font-weight: 700;
  color: #263238;
}

#landing .news-item-article > article .news-entry > blockquote, #read > article .news-entry > blockquote {
  line-height: 1.6875em;
  font-style: italic;
  border-left-color: #E0E0E0;
}

#landing .news-item-article > article .news-entry .related-news, #read > article .news-entry .related-news {
  padding: 0 19px;
  border-style: solid;
  border-color: #CCC;
  border-width: 2px 0;
  background-color: #F3F3F3;
}

#landing .news-item-article > article .news-entry .related-news > h3, #read > article .news-entry .related-news > h3 {
  margin: 18px 0 13px;
  font-size: 1.0625em;
  font-weight: 700;
}

#landing .news-item-article > article .news-entry .related-news > ul, #read > article .news-entry .related-news > ul {
  margin-bottom: 14px;
  list-style: square;
}

#landing .news-item-article > article .news-entry .related-news > ul > li, #read > article .news-entry .related-news > ul > li {
  margin: 0 0 14px 18px;
}

#landing .news-item-article > article .news-entry .related-news > ul > li:last-child, #read > article .news-entry .related-news > ul > li:last-child {
  margin-bottom: 0;
}

#landing .news-item-article > article .news-entry .related-news > ul > li > a, #read > article .news-entry .related-news > ul > li > a {
  display: block;
  color: #3d5afe;
}

#landing .news-item-article > article .news-av-wrapper, #read > article .news-av-wrapper {
  width: 100%;
  position: relative;
  clear: both;
}

#landing .news-item-article > article .news-av-wrapper::before, #read > article .news-av-wrapper::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

#landing .news-item-article > article .news-av-wrapper > video, #read > article .news-av-wrapper > video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#landing .news-item-article > article .news-footer, #read > article .news-footer {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #2196F3;
  text-align: center;
}

#landing .news-item-article > article .news-footer::before, #read > article .news-footer::before {
  content: '';
  display: block;
  width: 76px;
  height: 183px;
  position: absolute;
  top: 16px;
  left: 5px;
  background: url("../images/emoji-pattern-01.png") no-repeat 100% 100%/contain;
  z-index: 1;
}

#landing .news-item-article > article .news-footer::after, #read > article .news-footer::after {
  content: '';
  display: block;
  width: 74px;
  height: 161px;
  position: absolute;
  top: 23px;
  right: 8px;
  background: url("../images/emoji-pattern-02.png") no-repeat 100% 100%/contain;
  z-index: 1;
}

#landing .news-item-article > article .news-footer .subscribe-intro, #read > article .news-footer .subscribe-intro {
  position: relative;
  color: #FFF;
  text-align: center;
  line-height: 1.5em;
  z-index: 2;
}

#landing .news-item-article > article .news-footer .subscribe-intro > span, #read > article .news-footer .subscribe-intro > span {
  display: block;
}

#landing .news-item-article > article .news-footer .subscribe-intro > span:first-child, #read > article .news-footer .subscribe-intro > span:first-child {
  font-size: 1.125em;
}

#landing .news-item-article > article .news-footer .subscribe-intro > span:first-child > span, #landing .news-item-article > article .news-footer .subscribe-intro > span:first-child > i, #read > article .news-footer .subscribe-intro > span:first-child > span, #read > article .news-footer .subscribe-intro > span:first-child > i {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  font-weight: 700;
}

#landing .news-item-article > article .news-footer .subscribe-intro > span:first-child > span, #read > article .news-footer .subscribe-intro > span:first-child > span {
  vertical-align: text-top;
}

#landing .news-item-article > article .news-footer .subscribe-intro > span:first-child > i.logo-text, #read > article .news-footer .subscribe-intro > span:first-child > i.logo-text {
  position: relative;
  width: 84px;
  background: url("../images/rima-text-smwhite.png") no-repeat 100%/contain;
  font-size: 0;
  vertical-align: top;
}

#landing .news-item-article > article .news-footer .subscribe-intro > span:last-child, #read > article .news-footer .subscribe-intro > span:last-child {
  margin-top: 5px;
  font-size: 1.0625em;
  font-weight: 300;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper, #read > article .news-footer .subscribe-form-wrapper {
  position: relative;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > input[type=email], #read > article .news-footer .subscribe-form-wrapper > input[type=email] {
  width: 70%;
  height: 42px;
  position: relative;
  margin: 0 auto 5px;
  padding: 6px 4px;
  background-color: #FAFAFA;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  font-size: 0.9375em;
  text-align: center;
  outline: none;
  z-index: 2;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > input[type=email]::-webkit-input-placeholder, #read > article .news-footer .subscribe-form-wrapper > input[type=email]::-webkit-input-placeholder {
  color: #C5C5C5;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > input[type=email]:-moz-placeholder, #read > article .news-footer .subscribe-form-wrapper > input[type=email]:-moz-placeholder {
  color: #C5C5C5;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > input[type=email]::-moz-placeholder, #read > article .news-footer .subscribe-form-wrapper > input[type=email]::-moz-placeholder {
  color: #C5C5C5;
  opacity: 1;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > input[type=email]:-ms-input-placeholder, #read > article .news-footer .subscribe-form-wrapper > input[type=email]:-ms-input-placeholder {
  color: #C5C5C5;
  opacity: 1;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > button.subscribe-button, #read > article .news-footer .subscribe-form-wrapper > button.subscribe-button {
  width: 70%;
  height: 42px;
  padding: 0 13px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  border: none;
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.078125em;
  text-transform: uppercase;
  line-height: 42px;
  z-index: 2;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > button.subscribe-button.guest-mode, #read > article .news-footer .subscribe-form-wrapper > button.subscribe-button.guest-mode {
  background-color: #073e86;
  color: #FAFAFA;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > button.subscribe-button.known-mode, #read > article .news-footer .subscribe-form-wrapper > button.subscribe-button.known-mode {
  background-color: transparent;
  border-color: #F5F5F5;
  color: #F5F5F5;
}

#landing .news-item-article > article .news-footer .subscribe-form-wrapper > button.subscribe-button.known-mode::after, #read > article .news-footer .subscribe-form-wrapper > button.subscribe-button.known-mode::after {
  content: 'D';
  display: inline;
}

#landing .news-item-article > article .news-footer .subscribe-outro, #read > article .news-footer .subscribe-outro {
  margin: 4px 0 0;
  font-size: 0.9375em;
  color: #073e86;
}

/* RUBRICS PAGE STYLE */
#spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 1;
  z-index: 9001;
  transition: opacity 250ms;
}

#spinner.fadeout {
  opacity: 0;
}

#spinner #spinner-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 9002;
}

#spinner #spinner-icon-container {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  padding: 3px;
  border-radius: 32px;
  background-color: #FAFAFA;
  overflow: hidden;
  z-index: 9003;
}

#spinner #spinner-icon-container > i {
  width: 100%;
  height: 100%;
  display: block;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center/36px 36px;
  font-size: 0;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
          animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

#rubrics {
  height: 100%;
  padding-top: 84px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FAFAFA;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#rubrics #rubrics-nav {
  background-color: #333;
  padding: 11px 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#rubrics #rubrics-nav > ul {
  width: auto;
  height: 182px;
  white-space: nowrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#rubrics #rubrics-nav > ul > li {
  width: 132px;
  height: 182px;
  position: relative;
  display: inline-block;
  margin-right: 2px;
  border: solid 1px #151515;
  border-radius: 2px;
  overflow: hidden;
}

#rubrics #rubrics-nav > ul > li:first-child {
  margin-left: 11px;
}

#rubrics #rubrics-nav > ul > li:last-child {
  margin-right: 11px;
}

#rubrics #rubrics-nav > ul > li > a {
  width: 136px;
  height: 100%;
  display: block;
  margin-left: -2px;
}

#rubrics #rubrics-nav > ul > li > a > img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#rubrics #rubrics-nav > ul > li > a .rima-lazy-spinner {
  z-index: 5;
}

#rubrics #rubrics-nav > ul > li > a .rima-lazy-spinner .spinner {
  top: initial;
  bottom: 25%;
  margin-top: auto;
  margin-bottom: -12.5%;
}

#rubrics #rubrics-nav > ul > li > a .rima-lazy-spinner .spinner > span {
  background-color: #FFF;
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.red {
  background-color: rgba(255, 23, 68, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.pink {
  background-color: rgba(245, 0, 87, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.purple {
  background-color: rgba(213, 0, 249, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.deep-purple {
  background-color: rgba(101, 31, 255, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.indigo {
  background-color: rgba(61, 90, 254, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.blue {
  background-color: rgba(41, 121, 255, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.light-blue {
  background-color: rgba(0, 176, 255, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.cyan {
  background-color: rgba(0, 229, 255, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.teal {
  background-color: rgba(29, 233, 182, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.green {
  background-color: rgba(0, 230, 118, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.light-green {
  background-color: rgba(118, 255, 3, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.lime {
  background-color: rgba(198, 255, 0, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.yellow {
  background-color: rgba(255, 234, 0, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.amber {
  background-color: rgba(255, 196, 0, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.orange {
  background-color: rgba(255, 145, 0, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent.deep-orange {
  background-color: rgba(255, 61, 0, 0.45);
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent:hover .overlay-label::before {
  width: 0;
  left: 0;
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent:hover .overlay-label::after {
  width: 0;
  right: 0;
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent .overlay-label {
  width: 130px;
  padding: 6px 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-65px, -50%);
      -ms-transform: translate(-65px, -50%);
          transform: translate(-65px, -50%);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.55);
  letter-spacing: 0.25pt;
  color: #FFF;
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent .overlay-label::before {
  content: '';
  width: 30%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFF;
  transition: left 0.2s ease-out, width 0.1s ease-out 0.1s;
}

#rubrics #rubrics-nav > ul > li > a .overlay-accent .overlay-label::after {
  content: '';
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  background-color: #FFF;
  transition: right 0.2s ease-out, width 0.1s ease-out 0.1s;
}

#rubrics #rubrics-listing #listing-toggler {
  width: 100%;
  height: 67px;
  background-color: #F5F5F5;
  border-bottom: solid 1px #C5C5C5;
}

#rubrics #rubrics-listing #listing-toggler > button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.1875em;
  font-weight: 700;
  color: #BBB;
  outline: none;
  width: 50%;
  height: 66px;
  position: relative;
  padding: 0;
  line-height: 66px;
  background-color: #F5F5F5;
  border-style: solid;
  border-color: #C5C5C5;
  border-width: 0;
}

#rubrics #rubrics-listing #listing-toggler > button.active {
  height: 67px;
  border-bottom-color: #448aff;
  border-bottom-width: 3px;
  color: #448AFF;
  background-color: #fff;
  z-index: 2;
}

#rubrics #rubrics-listing #listing-toggler > button:first-of-type.active {
  border-right-width: 1px;
}

#rubrics #rubrics-listing #listing-toggler > button:last-of-type.active {
  border-left-width: 1px;
}

#rubrics #rubrics-listing #listing-toggler .divider {
  text-align: center;
  font-size: 0.6875em;
  line-height: 58px;
  color: #BBB;
}

#rubrics #rubrics-listing #listing-content .category-section > li {
  padding: 13px 0;
}

#rubrics #rubrics-listing #listing-content .category-section > li:not(:last-child) {
  border-bottom: solid 1px #C5C5C5;
}

#rubrics #rubrics-listing #listing-content .category-section > li > a {
  position: relative;
  display: block;
  text-decoration: none;
  float: none;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular {
  position: relative;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand {
  width: 30%;
  margin: 0 4% 0 2%;
  position: relative;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand::before {
  content: '';
  display: block;
  padding-top: 75%;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand .image-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #E7E7E7;
  overflow: hidden;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand .image-box > img {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand .category-label {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px 0 0 -5px;
  padding: 0 7px;
  background-color: rgba(38, 50, 56, 0.66);
  font-size: 0.9375em;
  line-height: 1.5625em;
  color: #FFF;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .right-hand {
  width: 64%;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .right-hand > h2 {
  margin: 0 0 6px;
  font-size: 1.125em;
  font-weight: 700;
  color: #263238;
  line-height: 1.2857em;
}

#rubrics #rubrics-listing #listing-content .category-section > li.regular .right-hand > time {
  font-size: 0.875em;
  color: #757575;
}

#rubrics #rubrics-listing #listing-content .category-section > li.featured {
  padding: 0 0 7px;
  border-bottom: 0;
  position: relative;
}

#rubrics #rubrics-listing #listing-content .category-section > li.featured .category-label {
  float: left;
  display: block;
  margin: 0 0 5px 0;
  padding: 7px 13px 7px 16px;
  background-color: #E5E5E5;
  line-height: 18px;
  color: #757575;
  font-size: 1.0625em;
  font-weight: 700;
}

#rubrics #rubrics-listing #listing-content .category-section > li.featured h2 {
  clear: left;
  margin: 0 0 3px;
  padding: 0 15px;
  font-size: 1.6875em;
  font-weight: 700;
  color: #263238;
  line-height: 1.2857em;
}

#rubrics #rubrics-listing #listing-content .category-section > li.featured time {
  padding: 0 15px;
  font-size: 0.9375em;
  color: #757575;
}

#rubrics #rubrics-listing #listing-content .category-section > li.featured .image-box {
  width: 100%;
  margin-top: 14px;
  position: relative;
  background-color: #E7E7E7;
  overflow: hidden;
}

#rubrics #rubrics-listing #listing-content .category-section > li.featured .image-box::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

#rubrics #rubrics-listing #listing-content .category-section > li.featured .image-box > img {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#rubrics #rubrics-listing #listing-content #loadmore {
  position: relative;
  margin: 15px 0 33px;
}

#rubrics #rubrics-listing #listing-content #loadmore > i.spinner {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center/24px 24px;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
          animation: swiper-preloader-spin 1s steps(12, end) infinite;
  z-index: 1;
}

#rubrics #rubrics-listing #listing-content #loadmore > button {
  width: 100%;
  height: 38px;
  position: relative;
  z-index: 2;
  background-color: #00b0ff;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-size: 0.9375em;
}

#rubrics #rubrics-listing #listing-content #loadmore > button:disabled {
  background-color: transparent;
  border: solid 1px #D5D5D5;
  font-size: 0em;
}

#rubrics #rubrics-listing #listing-content #loadmore > button:disabled.no-border {
  border-color: #FAFAFA;
}

/* SEARCH PAGE STYLE */
#search {
  height: 100%;
  padding-top: 84px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FAFAFA;
  z-index: 101;
  -webkit-animation-duration: 175ms;
          animation-duration: 175ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

#search #topic-heading {
  height: 70px;
  position: relative;
  padding: 23px 15px 20px;
  margin: 0;
  color: #263238;
  background-color: #F1F1F1;
  border-bottom: solid 1px #D5D5D5;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.23);
  z-index: 5;
}

#search #topic-heading > button {
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  font-size: 2.25em;
  background-color: transparent;
  margin: -5px 9px 0 0;
}

#search #topic-heading #topic-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

#search #topic-picker {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 134px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

#search #topic-picker::before {
  content: '';
  width: 1px;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 25px;
  background-color: #D5D5D5;
  z-index: 1;
}

#search #topic-picker > ul {
  width: 100%;
  height: auto;
  padding: 7px 0 14px;
}

#search #topic-picker > ul > li {
  padding-left: 34px;
  position: relative;
  z-index: 3;
  -webkit-animation-duration: 0.425s;
          animation-duration: 0.425s;
}

#search #topic-picker > ul > li::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14px;
  background-color: #FAFAFA;
  border: solid 1px #D5D5D5;
  border-radius: 100%;
  z-index: 1;
}

#search #topic-picker > ul > li::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 21px 0 0 7px;
  background-color: #2196F3;
  border-radius: 100%;
  z-index: 2;
}

#search #topic-picker > ul > li:last-child .tag-wrapper {
  border-bottom: 0;
}

#search #topic-picker > ul > li .tag-wrapper {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #D5D5D5;
}

#search #topic-picker > ul > li .tag-wrapper > a {
  display: block;
  padding: 16px 21px 11px 11px;
}

#search #topic-picker > ul > li .tag-wrapper > a > h3 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 1.125em;
  display: block;
  color: #2196F3;
}

#search #topic-picker > ul > li .tag-wrapper > a > p {
  font-size: 0.875em;
  color: #757575;
  margin-bottom: 0;
}

#search #topic-picker #topic-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 3;
}

#search #topic-news-picker,
#search #search-result {
  height: 100%;
  padding-top: 127px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FAFAFA;
  overflow-y: auto;
  z-index: 2;
  -webkit-animation-duration: 175ms;
          animation-duration: 175ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

#search #topic-news-picker > ul,
#search #search-result > ul {
  width: 100%;
  height: auto;
  min-height: 100%;
}

#search #topic-news-picker > ul > li,
#search #search-result > ul > li {
  padding: 13px 0;
}

#search #topic-news-picker > ul > li:not(:last-child),
#search #search-result > ul > li:not(:last-child) {
  border-bottom: solid 1px #C5C5C5;
}

#search #topic-news-picker > ul > li > a,
#search #search-result > ul > li > a {
  position: relative;
  display: block;
  text-decoration: none;
  float: none;
}

#search #topic-news-picker > ul > li.regular,
#search #search-result > ul > li.regular {
  position: relative;
}

#search #topic-news-picker > ul > li.regular .left-hand,
#search #search-result > ul > li.regular .left-hand {
  width: 30%;
  margin: 0 4% 0 2%;
  position: relative;
}

#search #topic-news-picker > ul > li.regular .left-hand::before,
#search #search-result > ul > li.regular .left-hand::before {
  content: '';
  display: block;
  padding-top: 75%;
}

#search #topic-news-picker > ul > li.regular .left-hand .image-box,
#search #search-result > ul > li.regular .left-hand .image-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #E7E7E7;
  overflow: hidden;
}

#search #topic-news-picker > ul > li.regular .left-hand .image-box > img,
#search #search-result > ul > li.regular .left-hand .image-box > img {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#search #topic-news-picker > ul > li.regular .left-hand .category-label,
#search #search-result > ul > li.regular .left-hand .category-label {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px 0 0 -5px;
  padding: 0 7px;
  background-color: rgba(38, 50, 56, 0.66);
  font-size: 0.9375em;
  line-height: 1.5625em;
  color: #FFF;
}

#search #topic-news-picker > ul > li.regular .right-hand,
#search #search-result > ul > li.regular .right-hand {
  width: 64%;
}

#search #topic-news-picker > ul > li.regular .right-hand > h3,
#search #search-result > ul > li.regular .right-hand > h3 {
  margin: 0 0 6px;
  font-size: 1.125em;
  font-weight: 700;
  color: #263238;
  line-height: 1.2857em;
}

#search #topic-news-picker > ul > li.regular .right-hand > time,
#search #search-result > ul > li.regular .right-hand > time {
  font-size: 0.875em;
  color: #757575;
}

#search #topic-news-picker > ul > li.featured,
#search #search-result > ul > li.featured {
  padding: 0 0 7px;
  border-bottom: 0;
  position: relative;
}

#search #topic-news-picker > ul > li.featured .category-label,
#search #search-result > ul > li.featured .category-label {
  float: left;
  display: block;
  margin: 0 0 5px 0;
  padding: 7px 13px 7px 16px;
  background-color: #E5E5E5;
  line-height: 18px;
  color: #757575;
  font-size: 1.0625em;
  font-weight: 700;
}

#search #topic-news-picker > ul > li.featured h3,
#search #search-result > ul > li.featured h3 {
  clear: left;
  margin: 0 0 3px;
  padding: 0 15px;
  font-size: 1.6875em;
  font-weight: 700;
  color: #263238;
  line-height: 1.2857em;
}

#search #topic-news-picker > ul > li.featured time,
#search #search-result > ul > li.featured time {
  padding: 0 15px;
  font-size: 0.9375em;
  color: #757575;
}

#search #topic-news-picker > ul > li.featured .image-box,
#search #search-result > ul > li.featured .image-box {
  width: 100%;
  margin-top: 14px;
  position: relative;
  overflow: hidden;
}

#search #topic-news-picker > ul > li.featured .image-box::before,
#search #search-result > ul > li.featured .image-box::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

#search #topic-news-picker > ul > li.featured .image-box > img,
#search #search-result > ul > li.featured .image-box > img {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#search #search-result {
  padding-top: 58px;
  z-index: 6;
}

#search #search-result .result-info {
  width: 100%;
  margin-top: 15px;
}

#search #search-result .result-info > div {
  font-size: 0.8125em;
}

#search #search-result .result-info > div:first-child {
  font-weight: 700;
}

#search #search-result .result-info > div:last-child > span {
  width: 41px;
  height: 16px;
  display: inline-block;
  font-size: 0;
  background: url("../images/google-logo-xs.png") no-repeat;
  background-size: cover;
}

#search #search-result #loadmore-cse {
  position: relative;
  margin: 15px 0 33px;
}

#search #search-result #loadmore-cse > i.spinner {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center/24px 24px;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
          animation: swiper-preloader-spin 1s steps(12, end) infinite;
  z-index: 1;
}

#search #search-result #loadmore-cse > button {
  width: 100%;
  height: 38px;
  position: relative;
  z-index: 2;
  background-color: #00b0ff;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-size: 0.9375em;
}

#search #search-result #loadmore-cse > button:disabled {
  background-color: transparent;
  border: solid 1px #D5D5D5;
  font-size: 0em;
}

#search #search-result #loadmore-cse > button:disabled.no-border {
  border-color: #FAFAFA;
}

#search #search-spinner {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  white-space: nowrap;
  z-index: 100;
}

#search #search-spinner > i.spinner {
  width: 100%;
  height: 100%;
  display: block;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center/42px 42px;
  font-size: 0;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
          animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

#search #search-spinner > .status {
  width: 200px;
  display: block;
  margin-top: 7px;
  margin-left: -79px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  /* MOBILE DEVICE AND EXTRA SMALL DEVICE STYLE */
  /* Topbar
 ================================================== */
  #app-master-topbar {
    height: 58px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  #app-master-topbar.translucent #topbar-wrapper #app-breadcrumb #breadcrumb-label.label-logo {
    background-position: 0 -88px;
  }
  #app-master-topbar #topbar-wrapper #app-breadcrumb {
    margin-left: 49px;
  }
  #app-master-topbar #topbar-wrapper #app-breadcrumb #breadcrumb-label {
    min-width: 128px;
    line-height: 36px;
  }
  #app-master-topbar #topbar-wrapper #app-breadcrumb #breadcrumb-label.label-logo {
    background-position: 0 -123px;
  }
  #app-master-topbar #topbar-wrapper #app-controls .control-group .control-button:not(:first-child) {
    margin-left: 17px;
  }
  #app-master-topbar #topbar-wrapper #app-controls .control-button {
    width: 36px;
    height: 36px;
  }
  #app-master-topbar #topbar-wrapper #app-controls .control-button > a, #app-master-topbar #topbar-wrapper #app-controls .control-button > button {
    font-size: 2.25em;
  }
  #app-master-topbar #topbar-wrapper #app-controls .control-button#ctrl__rubrics > a > i.icon-logo {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -17px;
  }
  #app-master-topbar #topbar-wrapper #search-field {
    width: 83%;
    height: 58px;
    padding: 11px 0;
    right: initial;
    left: 0;
    z-index: 3;
    box-shadow: none;
  }
  #app-master-topbar #topbar-wrapper #search-field > form {
    padding-right: 0;
  }
  #app-master-topbar #topbar-wrapper #search-field > form > a {
    width: 36px;
    height: 36px;
    font-size: 2.25em;
  }
  /* News Swiper
 ================================================== */
  #landing .news-content .news-item-cover .background-wrapper > img {
    width: auto;
    height: 100%;
  }
  #landing .news-content .news-item-article {
    padding-top: 58px;
  }
  #read {
    padding-top: 58px;
  }
  #landing .news-item-article .article-preloader, #read .article-preloader {
    padding-top: 58px;
  }
  #landing .news-item-article .article-preloader .ap-header .ap-title, #read .article-preloader .ap-header .ap-title {
    width: 92%;
  }
  #landing .news-item-article .article-preloader .ap-body .apb-image, #read .article-preloader .ap-body .apb-image {
    height: 41%;
  }
  #landing .news-item-article .article-preloader .ap-body .apb-paragraph, #read .article-preloader .ap-body .apb-paragraph {
    width: 100%;
  }
  #landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(1), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(1) {
    width: 100%;
  }
  #landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(2), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(2) {
    width: 97%;
  }
  #landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(3), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(3) {
    width: 100%;
  }
  #landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(4), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(4) {
    width: 90%;
  }
  #landing .news-item-article .article-preloader .ap-body .apb-paragraph > span:nth-child(5), #read .article-preloader .ap-body .apb-paragraph > span:nth-child(5) {
    width: 30%;
  }
  #landing .news-item-article > article .news-header .news-meta .meta-entry.reporter, #read > article .news-header .news-meta .meta-entry.reporter {
    padding-left: 0;
  }
  #landing .news-item-article > article .news-header .news-meta .meta-entry .photo, #read > article .news-header .news-meta .meta-entry .photo {
    display: none;
  }
  #landing .news-item-article > article .news-entry > p.row:first-child, #read > article .news-entry > p.row:first-child {
    margin-bottom: 27px;
  }
  #landing .news-item-article > article .news-entry > p.row:not(:first-child), #read > article .news-entry > p.row:not(:first-child) {
    padding: 0;
  }
  #landing .news-item-article > article .news-entry > p.row .figure.figure-headline > img, #landing .news-item-article > article .news-entry > p.row .figure.figure-paragraph > img, #read > article .news-entry > p.row .figure.figure-headline > img, #read > article .news-entry > p.row .figure.figure-paragraph > img {
    width: 100%;
  }
  #landing .news-item-article > article .news-entry > p.row .figure.figure-paragraph, #read > article .news-entry > p.row .figure.figure-paragraph {
    width: 100%;
  }
  #landing .news-item-article > article .news-entry > p.row .caption.caption-headline, #read > article .news-entry > p.row .caption.caption-headline {
    max-width: initial;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 0.875em;
    padding: 7px 15px;
    line-height: 1.5714285714em;
    color: #757575;
  }
  #landing .news-item-article > article .news-entry > p.row .caption.caption-headline::after, #read > article .news-entry > p.row .caption.caption-headline::after {
    width: 13%;
    height: 3px;
    background: #E0E0E0;
    left: 50%;
    bottom: 0;
    margin-bottom: -11px;
    margin-left: -6.5%;
  }
  /* Rubrics Menu
 ================================================== */
  #rubrics {
    width: 100%;
    padding-top: 58px;
  }
  #rubrics #news-listing #listing-content-wrapper .category-section > li.regular {
    min-height: 102px;
  }
  #rubrics #news-listing #listing-content-wrapper .category-section > li.regular .left-hand {
    width: 100px;
  }
  #rubrics #news-listing #listing-content-wrapper .category-section > li.regular .right-hand {
    padding-left: 111px;
  }
  /* Search
 ================================================== */
  #search {
    padding-top: 58px;
  }
  /* Sharing
 ================================================== */
  #sharing {
    padding-top: 58px;
  }
  /* XS STYLE */
}

@media screen and (max-width: 767px) and (min-width: 320px) and (max-width: 374px) {
  /* Topbar
   ================================================== */
  /* News Swiper
   ================================================== */
  .news-container.swiper-container .news-content .news-item-article > article .news-header .news-meta .meta-value .long-date-tail {
    display: none;
  }
  /* Rubrics Menu
   ================================================== */
  /* Search
   ================================================== */
  /* Sharing
   ================================================== */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* TABLET AND SMALL DESKTOP STYLE */
  /* Topbar
 ================================================== */
  #app-master-topbar #topbar-wrapper #search-field {
    width: 90%;
    padding: 18px 0;
    right: initial;
    left: 0;
    z-index: 3;
    box-shadow: none;
  }
  #app-master-topbar #topbar-wrapper #search-field > form {
    padding-right: 0;
  }
  /* News Swiper
 ================================================== */
  #landing .news-content .news-item-cover .cover-title {
    width: 80%;
    top: initial !important;
    bottom: 15% !important;
    padding: 0 0 0 27px !important;
    background-color: transparent !important;
    font-size: 4em !important;
    line-height: 1.21875em !important;
    text-align: left !important;
  }
  #landing .news-content .news-item-cover .cover-title > p {
    padding-right: 0;
  }
  #landing .news-item-article > article .news-header .news-meta .meta-entry.reporter, #read > article .news-header .news-meta .meta-entry.reporter {
    padding-left: 0;
  }
  #landing .news-item-article > article .news-header .news-meta .meta-entry .photo, #read > article .news-header .news-meta .meta-entry .photo {
    display: none;
  }
  /* Rubrics Menu
 ================================================== */
  #rubrics {
    width: 100%;
  }
  #rubrics #rubrics-nav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 95px 0 11px;
    z-index: 2;
  }
  #rubrics #rubrics-nav > ul {
    height: 100%;
  }
  #rubrics #rubrics-nav > ul > li {
    margin: 0 auto 7px;
    display: block;
  }
  #rubrics #rubrics-nav > ul > li:first-child {
    margin-left: auto;
  }
  #rubrics #rubrics-nav > ul > li:last-child {
    margin-right: auto;
  }
  #rubrics #rubrics-listing {
    z-index: 1;
  }
  #rubrics #rubrics-listing #listing-content .category-section > li.regular {
    min-height: 124px;
  }
  #rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand {
    width: 129px;
  }
  /* Search
 ================================================== */
  #search #topic-picker {
    padding-top: 154px;
  }
  #search #topic-news-picker {
    padding-top: 154px;
  }
  #search #topic-news-picker > ul > li.regular {
    min-height: 124px;
  }
  #search #topic-news-picker > ul > li.regular .left-hand {
    width: 129px;
  }
  #search #search-result {
    padding-top: 84px;
  }
  #search #search-result > ul > li.regular {
    min-height: 124px;
  }
  #search #search-result > ul > li.regular .left-hand {
    width: 129px;
  }
  /* Sharing
 ================================================== */
  #sharing {
    padding-top: 84px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  /* LARGE DESKTOP STYLE */
  /* Topbar
 ================================================== */
  #app-master-topbar {
    width: 75%;
    left: 25%;
  }
  #app-master-topbar #topbar-wrapper #app-controls #rubrics-control {
    float: left;
  }
  #app-master-topbar #topbar-wrapper #app-controls #view-control {
    float: left;
    margin-left: 13px;
  }
  #app-master-topbar #topbar-wrapper #app-controls #search-control > form {
    width: 33.333333%;
    left: initial;
    right: 0;
  }
  #app-master-topbar #topbar-wrapper #app-controls #share-control {
    margin-right: 32px;
  }
  #app-master-topbar #topbar-wrapper #app-controls #share-control.no-margin {
    margin-right: 0;
  }
  /* Landing News Content Style
 ================================================== */
  #landing .news-content .news-item-cover .cover-title {
    width: 75%;
    top: 50% !important;
    bottom: initial !important;
    padding: 0 0 0 76px !important;
    background-color: transparent !important;
    font-size: 4em !important;
    line-height: 1.21875em !important;
    text-align: left !important;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #landing .news-content .news-item-cover .cover-title > p {
    padding-right: 0;
  }
  /* News Article Style
 ================================================== */
  #landing .news-item-article > article .news-header .news-meta .meta-entry.reporter, #read > article .news-header .news-meta .meta-entry.reporter {
    padding-left: 0;
  }
  #landing .news-item-article > article .news-header .news-meta .meta-entry .photo, #read > article .news-header .news-meta .meta-entry .photo {
    display: none;
  }
  #landing .news-item-article > article .news-footer, #read > article .news-footer {
    overflow: hidden;
  }
  #landing .news-item-article > article .news-footer::before, #read > article .news-footer::before {
    left: 11px;
    top: 10px;
  }
  #landing .news-item-article > article .news-footer::after, #read > article .news-footer::after {
    right: 20px;
    top: 23px;
  }
  #landing .news-item-article > article .news-footer .subscribe-button, #read > article .news-footer .subscribe-button {
    display: block;
    margin: 7px auto 0;
  }
  /* Rubrics Menu
 ================================================== */
  #rubrics {
    padding-top: 0;
    overflow: hidden;
    z-index: 1000;
  }
  #rubrics #rubrics-nav {
    width: 100%;
    z-index: 2;
  }
  #rubrics #rubrics-nav > ul {
    height: 140px;
  }
  #rubrics #rubrics-nav > ul > li {
    width: 106px;
    height: 140px;
  }
  #rubrics #rubrics-nav > ul > li > a {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  #rubrics #rubrics-nav > ul > li > a .overlay-accent .overlay-label {
    width: 100%;
    font-size: 1em;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #rubrics #rubrics-listing {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    padding-top: 162px;
    background-color: #FFF;
    border-right: solid 1px #D7D7D7;
    z-index: 1;
  }
  #rubrics #rubrics-listing #listing-toggler {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 162px;
    z-index: 2;
    background: #FFF;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.23);
  }
  #rubrics #rubrics-listing #listing-content {
    height: 100%;
    padding-top: 82px;
    overflow: auto;
  }
  #rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand .category-label {
    font-size: 0.875em;
  }
  /* Search
 ================================================== */
  #search {
    left: initial;
    right: 0;
  }
  #search #topic-picker {
    padding-top: 154px;
  }
  #search #topic-picker::before {
    left: initial;
    right: -25px;
    margin-left: 0;
    margin-right: 25%;
  }
  #search #topic-news-picker {
    padding-top: 154px;
  }
  #search #search-result {
    padding-top: 84px;
  }
  /* Sharing
 ================================================== */
  #sharing {
    padding-top: 84px;
  }
}

@media screen and (min-width: 1800px) {
  /* EXTRA LARGE DESKTOP STYLE */
  /* Topbar
 ================================================== */
  #app-master-topbar {
    width: 75%;
    left: 25%;
  }
  #app-master-topbar #topbar-wrapper #app-controls #rubrics-control {
    float: left;
  }
  #app-master-topbar #topbar-wrapper #app-controls #view-control {
    float: left;
    margin-left: 13px;
  }
  #app-master-topbar #topbar-wrapper #app-controls #search-control > form {
    width: 33.333333%;
    left: initial;
    right: 0;
  }
  #app-master-topbar #topbar-wrapper #app-controls #share-control {
    margin-right: 32px;
  }
  #app-master-topbar #topbar-wrapper #app-controls #share-control.no-margin {
    margin-right: 0;
  }
  /* News Swiper
 ================================================== */
  #landing .news-content .news-item-cover .cover-title {
    width: 60%;
    top: 50% !important;
    bottom: initial !important;
    padding: 0 0 0 76px !important;
    background-color: transparent !important;
    font-size: 4.25em !important;
    line-height: 1.2205em !important;
    text-align: left !important;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #landing .news-content .news-item-cover .cover-title > p {
    padding-right: 0;
  }
  /* News Article Style
 ================================================== */
  #landing .news-item-article > article .news-header .news-meta .meta-entry.reporter, #read > article .news-header .news-meta .meta-entry.reporter {
    padding-left: 0;
  }
  #landing .news-item-article > article .news-header .news-meta .meta-entry .photo, #read > article .news-header .news-meta .meta-entry .photo {
    display: none;
  }
  #landing .news-item-article > article .news-footer, #read > article .news-footer {
    overflow: hidden;
  }
  #landing .news-item-article > article .news-footer::before, #read > article .news-footer::before {
    left: 11px;
    top: 10px;
  }
  #landing .news-item-article > article .news-footer::after, #read > article .news-footer::after {
    right: 20px;
    top: 23px;
  }
  #landing .news-item-article > article .news-footer .subscribe-button, #read > article .news-footer .subscribe-button {
    display: block;
    margin: 7px auto 0;
  }
  /* Rubrics Menu
 ================================================== */
  #rubrics {
    padding-top: 0;
    overflow: hidden;
    z-index: 1000;
  }
  #rubrics #rubrics-nav {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #rubrics #rubrics-nav > ul {
    height: auto;
    padding: 0 11px;
  }
  #rubrics #rubrics-nav > ul > li {
    width: 100%;
    height: 130px;
    margin: 0 auto 7px;
    display: block;
  }
  #rubrics #rubrics-nav > ul > li:first-child {
    margin-left: auto;
  }
  #rubrics #rubrics-nav > ul > li:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }
  #rubrics #rubrics-nav > ul > li > a {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  #rubrics #rubrics-nav > ul > li > a .overlay-accent .overlay-label {
    width: 100%;
    font-size: 0.8125em;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #rubrics #rubrics-listing {
    height: 100%;
    background-color: #FFF;
    border-right: solid 1px #D7D7D7;
  }
  #rubrics #rubrics-listing #listing-toggler {
    height: 85px;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.23);
    z-index: 2;
  }
  #rubrics #rubrics-listing #listing-toggler > button {
    height: 84px;
    line-height: 84px;
  }
  #rubrics #rubrics-listing #listing-toggler > button.active {
    height: 85px;
  }
  #rubrics #rubrics-listing #listing-content {
    height: 100%;
    padding-top: 85px;
    overflow: auto;
  }
  #rubrics #rubrics-listing #listing-content .category-section > li.regular .left-hand .category-label {
    font-size: 0.875em;
  }
  /* Search
 ================================================== */
  #search {
    left: initial;
    right: 0;
  }
  #search #topic-picker {
    padding-top: 154px;
  }
  #search #topic-picker::before {
    left: initial;
    right: -25px;
    margin-left: 0;
    margin-right: 25%;
  }
  #search #topic-news-picker {
    padding-top: 154px;
  }
  #search #search-result {
    padding-top: 84px;
  }
  /* Sharing
 ================================================== */
  #sharing {
    padding-top: 84px;
  }
}
