/* CORE */
/* Basic Styles
 ================================================== */
html, body { @include size(100%, 100%); }
body {
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
    weight: 400;
    style: normal;
  }
  line-height: 1.5em;
  color: $text_regular;
  background-color: $global_body_bg;
  overflow: hidden;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    margin: 0;
    padding: 0;
  }
}
a, button, input[type="button"], input[type="submit"] {
  outline: none !important;
}

/* Default Layout
 ================================================== */
#webapp {
  // @include absoluteTo(top, left);
  @include size(100%, 100%);
  overflow: hidden;

  #app-content { height: 100%; }
}
#app-desktop-overlay {
  @include size(75%, 100%);
  @include absoluteTo(top, left);
  background-color: rgba(0,0,0,0.77);
  z-index: 1001;
}

/* Utilities Class
 ================================================== */
.no-col-side-padding {
  padding: {
    left: 0;
    right: 0;
  }
}
.no-paragraph-margin { margin-bottom: 0; }

/* Animation
 ================================================== */
// Picture Square Preloader
.picture-preloader {
  @include size(20px, 20px);
  @include absoluteCenterPx(20px, 20px);
}
.square-animation {
  @include size(20px, 20px);
  display: block;
  position: relative;
  margin: 0 auto;
  border: solid 1px rgba($blue,1);
  -webkit-animation: fill_color 5s linear infinite;
     -moz-animation: fill_color 5s linear infinite;
          animation: fill_color 5s linear infinite;
}
.square-animation:after {
  content: "";
  @include size(4px, 4px);
  position: absolute;
  top: -8px;
  left: 0px;
  background-color: rgba($blue,1);
  -webkit-animation: square_check 1s ease-in-out infinite;
     -moz-animation: square_check 1s ease-in-out infinite;
          animation: square_check 1s ease-in-out infinite;
}
@-webkit-keyframes square_check {
  25%{ left: 22px; top: -8px;}
  50%{ left: 22px; top: 22px;}
  75%{ left: -9px; top: 22px;}
  100%{ left: -9px; top: -7px;}
}
@-moz-keyframes square_check {
  25%{ left: 22px; top: -8px;}
  50%{ left: 22px; top: 22px;}
  75%{ left: -9px; top: 22px;}
  100%{ left: -9px; top: -7px;}
}
@keyframes square_check {
  25%{ left: 22px; top: -8px;}
  50%{ left: 22px; top: 22px;}
  75%{ left: -9px; top: 22px;}
  100%{ left: -9px; top: -7px;}
}
@-webkit-keyframes fill_color {
  0%{ box-shadow: inset 0px 0px 0px 0px rgba($blue,0.1);}
  100%{ box-shadow: inset 0px -20px 0px 0px rgba($blue,1);}
}
@-moz-keyframes fill_color {
  0%{ box-shadow: inset 0px 0px 0px 0px rgba($blue,0.1);}
  100%{ box-shadow: inset 0px -20px 0px 0px rgba($blue,1);}
}
@keyframes fill_color {
  0%{ box-shadow: inset 0px 0px 0px 0px rgba($blue,0.1);}
  100%{ box-shadow: inset 0px -20px 0px 0px rgba($blue,1);}
}

.b-lazy {
  // max-width: 100%;
  opacity: 0;
  transition: opacity 325ms ease-in-out;
}
.b-lazy.b-loaded { opacity: 1; }