/* ICONORIMA FONT FACE */
@font-face {
  font-family: 'iconorima';
  src: url('../fonts/iconorima.eot?27801195');
  src: url('../fonts/iconorima.eot?27801195#iefix') format('embedded-opentype'),
       url('../fonts/iconorima.woff2?27801195') format('woff2'),
       url('../fonts/iconorima.woff?27801195') format('woff'),
       url('../fonts/iconorima.ttf?27801195') format('truetype'),
       url('../fonts/iconorima.svg?27801195#iconorima') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconorima';
    src: url('../font/iconorima.svg?3566079#iconorima') format('svg');
  }
}
*/
.iconorima {
  &[class^="icon-"]:before,
  &[class*=" icon-"]:before {
    display: inline-block;
    font: {
      family: "iconorima";
      style: normal;
      weight: normal;
      variant: normal;
    }
    text: {
      align: center;
      decoration: inherit;
      transform: none;
      rendering: auto;
    }
    speak: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   
  &.icon-menu:before { content: '\e800'; }
  &.icon-arrow-back:before { content: '\e801'; }
  &.icon-arrow-upward:before { content: '\e80d'; }
  &.icon-search:before { content: '\e802'; }
  &.icon-close:before { content: '\e803'; }
  &.icon-chevron-down:before { content: '\e804'; }
  &.icon-chevron-left:before { content: '\e805'; }
  &.icon-chevron-right:before { content: '\e806'; }
  &.icon-chevron-up:before { content: '\e807'; }
  &.icon-share:before { content: '\e808'; }
  &.icon-facebook:before { content: '\e809'; }
  &.icon-twitter:before { content: '\e80a'; }
  &.icon-line:before { content: '\e80b'; }
  &.icon-whatsapp:before { content: '\e80c'; }
  &.icon-copy:before { content: '\e80e'; }
  &.icon-gplus:before { content: '\e80f'; }
  &.icon-email:before { content: '\e810'; }
}