/* MEDIUM DESKTOP STYLE */
/* Topbar
 ================================================== */
#app-master-topbar {
  // height: 58px;
  // padding: { top: 11px; bottom: 11px; }

  #topbar-wrapper {
    #app-controls {
      #rubrics-control {
        float: left;

        // > a {
        //   @include size(36px, 36px);
        //   font-size: 2.25em;
        // }
      }
      #view-control {
        float: left;
        margin-left: 13px;
        // font-size: 1.375em;
        // line-height: 36px;

        // &.no-margin { margin-left: 0; }
      }
      #search-control {
        // @include size(36px, 36px);

        > form {
          // height: 36px;
          
          // > a {
          //   @include size(36px, 36px);
          //   font-size: 2.25em;
          // }
        }
        // > a {
        //   @include size(36px, 36px);
        //   font-size: 2.25em;
        // }
      }
      #share-control {
        margin-right: 32px;

        &.no-margin { margin-right: 0; }

        // > button {
        //   @include size(36px, 36px);
        //   font-size: 1.875em;
        // }
      }
    }
  }
}
/* News Swiper
 ================================================== */
#landing {
  .news-content {
    // .news-item-article {}
  }
}
/* News Article Style
 ================================================== */
#landing .news-item-article, #read {
  > article {
    .news-header {
      .news-meta {
        .meta-entry {
          &.reporter { padding-left: 0; }
          .photo { display: none; }
        }
      }
    }
    .news-footer {
      overflow: hidden;

      &::before {
        left: 11px;
        top: 10px;
      }
      &::after {
        right: 20px;
        top: 23px;
      }

      .subscribe-button {
        display: block;
        margin: 7px auto 0;
      }
    }
  }
}
/* Rubrics Menu
 ================================================== */
#rubrics {
  // padding-top: 58px;
  #rubrics-nav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 95px 0 11px;
    z-index: 2;

    > ul {
      height: 100%;

      > li {
        &:first-child { margin-left: auto; }
        &:last-child { margin-right: auto; }

        margin: 0 auto 7px;
        display: block;
      }
    }
  }
  #rubrics-listing {
    z-index: 1;

    #listing-content {
      .category-section {
        > li {
          &.regular {
            min-height: 124px;

            .left-hand { width: 129px; }
            .right-hand { padding-left: 140px; }
          }
        }
      }
    }
  }
}
/* Search
 ================================================== */
#search {
  #topic-picker { padding-top: 154px; }
  #topic-news-picker {
    padding-top: 154px;

    > ul {
      > li {
        &.regular {
          min-height: 132px;

          .left-hand { width: 22%; }
          .right-hand { padding-left: 26%; }
        }
      }
    }
  }
  #search-result {
    padding-top: 84px;

    > ul {
      > li {
        &.regular {
          min-height: 136px;

          .left-hand { width: 19%; }
          .right-hand { padding-left: 22%; }
        }
      }
    }
  }
}
/* Sharing
 ================================================== */
#sharing {
  padding-top: 84px;
}