/* LARGE DESKTOP STYLE */
/* Topbar
 ================================================== */
#app-master-topbar {
  width: 75%;
  left: 25%;

  #topbar-wrapper {
    #app-controls {
      #rubrics-control {
        float: left;

        // > a {
        //   @include size(36px, 36px);
        //   font-size: 2.25em;
        // }
      }
      #view-control {
        float: left;
        margin-left: 13px;
        // font-size: 1.375em;
        // line-height: 36px;

        // &.no-margin { margin-left: 0; }
      }
      #search-control {
        // @include size(36px, 36px);

        > form {
          width: 33.333333%;
          left: initial;
          right: 0;
          // height: 36px;
          
          // > a {
          //   @include size(36px, 36px);
          //   font-size: 2.25em;
          // }
        }
        // > a {
        //   @include size(36px, 36px);
        //   font-size: 2.25em;
        // }
      }
      #share-control {
        margin-right: 32px;

        &.no-margin { margin-right: 0; }

        // > button {
        //   @include size(36px, 36px);
        //   font-size: 1.875em;
        // }
      }
    }
  }
}
/* Landing News Content Style
 ================================================== */
#landing {
  .news-content {
    .news-item-cover {
      .cover-title {
        width: 75%;
        top: 50% !important;
        bottom: initial !important;
        padding: 0 0 0 76px !important;
        background-color: transparent !important;
        font-size: 4em !important;
        line-height: 1.21875em !important;
        text-align: left !important;
        transform: translateY(-50%);

        > p { padding-right: 0; }
      }
    }
    // .news-item-article {}
  }
}
/* News Article Style
 ================================================== */
#landing .news-item-article, #read {
  > article {
    .news-header {
      .news-meta {
        .meta-entry {
          &.reporter { padding-left: 0; }
          .photo { display: none; }
        }
      }
    }
    .news-footer {
      overflow: hidden;

      &::before {
        left: 11px;
        top: 10px;
      }
      &::after {
        right: 20px;
        top: 23px;
      }

      .subscribe-button {
        display: block;
        margin: 7px auto 0;
      }
    }
  }
}
/* Rubrics Menu
 ================================================== */
#rubrics {
  padding-top: 0;
  overflow: hidden;
  z-index: 1000;

  #rubrics-nav {
    width: 100%;
    z-index: 2;

    > ul {
      height: 140px;
      // padding: 0 11px;

      > li {
        @include size(106px, 140px);
        // margin: 0 auto 7px;
        // display: block;
        // border-color: #151515;

        &:first-child {
          // margin-left: auto;
        }
        &:last-child {
          // margin-right: auto;
          // margin-bottom: 0;
        }

        > a {
          @include size(100%, 100%);
          margin-left: 0;

          .overlay-accent {
            .overlay-label {
              width: 100%;
              font-size: 1em;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
  #rubrics-listing {
    @include size(100%, 100%);
    @include absoluteTo(top, left);
    margin-left: 0;
    padding-top: 162px;
    background-color: $white;
    border-right: solid 1px #D7D7D7;
    // overflow: auto;
    z-index: 1;
  
    #listing-toggler {
      @include absoluteTo(left, top);
      margin-top: 162px;
      // padding: {
      //   top: 9px;
      //   bottom: 9px;
      // }
      z-index: 2;
      background: $white;
      box-shadow: 0 1px 7px rgba($black, 0.23);
    }
    #listing-content {
      height: 100%;
      padding-top: 82px;
      overflow: auto;

      .category-section {
        > li {
          &.regular {
            // min-height: 124px;

            .left-hand {
              // width: 129px;
              
              .category-label { font-size: 0.875em; }
            }
            // .right-hand { padding-left: 140px; }
          }
        }
      }
    }
  }
}
/* Search
 ================================================== */
#search {
  left: initial;
  right: 0;

  #topic-picker {
    padding-top: 154px;

    &::before {
      left: initial;
      right: -25px;
      margin: {
        left: 0;
        right: 25%;
      }
    }
  }
  #topic-news-picker {
    padding-top: 154px;

    > ul {
      > li {
        &.regular {
          // min-height: 132px;

          // .left-hand { width: 22%; }
          // .right-hand { padding-left: 26%; }
        }
      }
    }
  }
  #search-result {
    padding-top: 84px;

    > ul {
      > li {
        &.regular {
          // min-height: 136px;

          // .left-hand { width: 19%; }
          // .right-hand { padding-left: 22%; }
        }
      }
    }
  }
}
/* Sharing
 ================================================== */
#sharing {
  padding-top: 84px;
}