/* MOBILE DEVICE AND EXTRA SMALL DEVICE STYLE */
/* Topbar
 ================================================== */
#app-master-topbar {
  height: 58px;
  padding: { top: 11px; bottom: 11px; }

  &.translucent {
    #topbar-wrapper {
      #app-breadcrumb {
        #breadcrumb-label {
          &.label-logo { background-position: 0 -88px; }
        }
      }
    }
  }

  #topbar-wrapper {
    #app-breadcrumb {
      margin-left: 49px;

      #breadcrumb-label {
        min-width: 128px;
        line-height: 36px;

        &.label-logo { background-position: 0 -123px; }
      }
    }

    #app-controls {
      .control-group {
        .control-button {
          &:not(:first-child) { margin-left: 17px; }
        }
      }

      .control-button {
        @include size(36px, 36px);

        > a, > button { font-size: 2.25em; }

        &#ctrl__rubrics {
          > a {
            > i.icon-logo {
              @include size(34px, 34px);
              @include absoluteCenterPx(34px, 34px);
            }
          }
        }
      }
    }

    #search-field {
      @include size(83%, 58px);
      padding: 11px 0;
      right: initial;
      left: 0;
      z-index: 3;
      box-shadow: none;
      
      > form {
        padding-right: 0;

        > a {
          @include size(36px, 36px);
          font-size: 2.25em;
        }
      }
    }
  }
}
/* News Swiper
 ================================================== */
#landing {
  .news-content {
    .news-item-cover {
      .background-wrapper {
        > img {
          @include size(auto, 100%);
        }
      }
    }
    .news-item-article { padding-top: 58px; }
  }
}

#read { padding-top: 58px; }

#landing .news-item-article, #read {
  .article-preloader {
    padding-top: 58px;

    .ap-header {
      .ap-title { width: 92%; }
    }
    .ap-body {
      .apb-image { height: 41%; }
      .apb-paragraph {
        width: 100%;

        > span {
          &:nth-child(1) { width: 100%; }
          &:nth-child(2) { width: 97%; }
          &:nth-child(3) { width: 100%; }
          &:nth-child(4) { width: 90%; }
          &:nth-child(5) { width: 30%; }
        }
      }
    }
  }

  > article {
    .news-header {
      .news-meta {
        .meta-entry {
          &.reporter { padding-left: 0; }
          .photo { display: none; }
        }
      }
    }
    .news-entry {
      > p {
        &.row {
          &:first-child { margin-bottom: 27px; }
          &:not(:first-child) { padding: 0; }

          .figure {
            &.figure-headline, &.figure-paragraph {
              > img {
                width: 100%;
                //   @include size(100%, auto);
                //   min-width: initial;
                //   min-height: initial;
              }
            }
            &.figure-paragraph { width: 100%; }
          }

          .caption {
            &.caption-headline {
              max-width: initial;
              width: 100%;
              position: relative;
              text-align: center;
              font-size: 0.875em;
              padding: 7px 15px;
              line-height: 1.5714285714em;
              color: $text_light;

              &::after {
                @include size(13%, 3px);
                background: #E0E0E0;
                left: 50%;
                bottom: 0;
                margin-bottom: -11px;
                margin-left: -6.5%;
              }
            }
          }
        }
      }
    }
  }
}
/* Rubrics Menu
 ================================================== */
#rubrics {
  width: 100%;
  padding-top: 58px;

  #news-listing {
    #listing-content-wrapper {
      .category-section {
        > li {
          &.regular {
            min-height: 102px;

            .left-hand { width: 100px; }
            .right-hand { padding-left: 111px; }
          }
        }
      }
    }
  }
}
/* Search
 ================================================== */
#search {
  padding-top: 58px;
}
/* Sharing
 ================================================== */
#sharing {
  padding-top: 58px;
}

/* XS STYLE */
@media (min-width: 320px) and (max-width: 374px) {
  /* Topbar
   ================================================== */
  // #app-master-topbar {
  //   height: 58px;
  //   padding: { top: 11px; bottom: 11px; }

  //   #topbar-wrapper {
  //     #app-controls {
  //       #rubrics-control {
  //         > a {
  //           @include size(36px, 36px);
  //           font-size: 2.25em;
  //         }
  //       }
  //       #view-control {
  //         margin-left: 9px;
  //         font-size: 1.375em;
  //         line-height: 36px;
  //       }
  //       #search-control {
  //         @include size(36px, 36px);

  //         > form {
  //           height: 36px;
            
  //           > a {
  //             @include size(36px, 36px);
  //             font-size: 2.25em;
  //           }
  //         }
  //         > a {
  //           @include size(36px, 36px);
  //           font-size: 2.25em;
  //         }
  //       }
  //       #share-control {
  //         margin-right: 17px;

  //         > button {
  //           @include size(36px, 36px);
  //           font-size: 1.875em;
  //         }
  //       }
  //     }
  //   }
  // }
  /* News Swiper
   ================================================== */
  .news-container.swiper-container .news-content {
    .news-item-article {
      // padding-top: 58px;

      > article {
        .news-header {
          .news-meta {
            .meta-value {
              .long-date-tail { display: none; }
            }
          }
        }
      }
    }
  }
  /* Rubrics Menu
   ================================================== */
  // #rubrics {
  //   padding-top: 58px;

  //   #news-listing {
  //     #listing-content-wrapper {
  //       .category-section {
  //         > li {
  //           &.regular {
  //             min-height: 102px;

  //             .left-hand { width: 100px; }
  //             .right-hand { padding-left: 111px; }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  /* Search
   ================================================== */
  // #search {
  //   padding-top: 58px;
  // }
  /* Sharing
   ================================================== */
  // #sharing {
  //   padding-top: 58px;
  // }
}