// /* News Swiper Component Default
//  ================================================== */
// .news-container.swiper-container,
// .news-container.swiper-container .news-content,
// .news-container.swiper-container .preloader-content {
//   // @include size(100%, 100%);
//   height: 100%;
// }
// .news-container.swiper-container {
//   .swiper-wrapper,
//   .swiper-slide {
//     @include size(inherit, inherit);
//     -moz-transform-style: flat !important;
//   }
// }
/* LANDING AND READ PAGE STYLE */
/* Landing News Content Style
 ================================================== */
#landing {
  height: 100%;
  @include absoluteTo(top, left);
  z-index: 0;
  animation-duration: 175ms;
  animation-timing-function: ease-out;
  
  .swiper-navigator {
    @include size(100%, 0);
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -32px;
    z-index: 2;

    &.disabled {
      > button {
        &:first-child { transform: translateX(-70px); }
        &:last-child { transform: translateX(70px); }
      }
    }

    > button {
      @include size(64px, 64px);
      position: absolute;
      top: 0;
      border: 0;
      background-color: rgba($black, 0.66);
      font-size: 3.375em;
      color: $global_body_bg;
      transform: translateX(0);
      // easeInOutExpo
      // https://matthewlein.com/ceaser/
      -webkit-transition: transform 275ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -moz-transition: transform 275ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
           -o-transition: transform 275ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
              transition: transform 275ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
      -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
           -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
              transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);

      &:first-child { left: 6px; }
      &:last-child { right: 6px; }
    }
  }
  .news-slide-hint {
    @include size(100%, 61px);
    @include absoluteTo(bottom, left);
    z-index: 2;

    &::before {
      content: '';
      @include size(100%, 108px);
      @include absoluteTo(bottom, left);
      // background-image: -moz-linear-gradient( 90deg, rgba($black, 0.65) 0%, rgba($black, 0) 100% );
      // background-image: -webkit-linear-gradient( 90deg, rgba($black, 0.65) 0%, rgba($black, 0) 100% );
      // background-image: -ms-linear-gradient( 90deg, rgba($black, 0.65) 0%, rgba($black, 0) 100% );
      background-image: linear-gradient( 180deg, rgba($black, 0) 0%, rgba($black, 0.65) 100% );
      z-index: 1;
    }

    .inner-hint-wrapper {
      @include size(94%, 100%);
      position: relative;
      margin: 0 auto;
      border-top: solid 1px rgba($white, 0.33);
      z-index: 2;

      .hint-text {
        width: 50%;
        padding-top: 16px;
        display: block;
        font-size: 1.125em;
        color: $white;

        &.prefix {
          padding-right: 23px;
          text-align: right;
        }
        &.suffix {
          padding-left: 23px;
          text-align: left;
        }
      }
      .hint-gesture {
        @include size(22px, 36px);
        @include absoluteCenterPx(22px, 36px);
        background: transparent url('../images/icon-gesture.png') no-repeat;
      }
    }
  }
  #article-jumper {
    position: fixed;
    bottom: 0;
    right: 0;
    @include size(48px, 48px);
    background-color: $blue;
    border-radius: 64px;
    padding: 3px;
    z-index: 2;
    margin: {
      bottom: 20px;
      right: 20px;
    }
    box-shadow: 0 3px 9px 4px rgba(#073e86, 0.22);

    > button {
      @include size(100%, 100%);
      display: block;
      background-color: $global_body_bg;
      border: none;
      border-radius: 42px;

      > i.iconorima {
        font-size: 28px;
        color: $blue;
      }
    }
  }
  .news-content {
    height: 100%;

    .news-item-cover {
      @include size(inherit, inherit);
      position: relative;
      overflow: hidden;
      user-select: none;
      z-index: 1;

      &::before {
        content: '';
        @include size(100%, 242px);
        @include absoluteTo(top, left);
        // background-image: -moz-linear-gradient( 90deg, rgba($black, 0) 0%, rgba($black, 0.65) 100% );
        // background-image: -webkit-linear-gradient( 90deg, rgba($black, 0) 0%, rgba($black, 0.65) 100% );
        // background-image: -ms-linear-gradient( 90deg, rgba($black, 0) 0%, rgba($black, 0.65) 100% );
        background-image: linear-gradient( 180deg, rgba($black, 0.65) 0%, rgba($black, 0) 100% );
        z-index: 2;
      }

      .background-wrapper {
        @include size(100%, 100%);
        @include absoluteTo(top, left);
        z-index: -1;

        > img {
          @include size(auto, auto);
          min-width: 100%;
          min-height: 100%;
          @include absoluteCenterPercent(null, null);
          font-size: 0;
        }
        [id$='-bg-canvas'] {
          transform: translate3d(0px, 0px, 0px);
          transform-style: preserve-3d;
        }
        [id$='-bg-video'] {
          @include size(auto, 100%);
          position: relative;

          > video {
            @include size(auto, 100%);
            @include absoluteCenterPercent(null, null);
          }
          .vjs-loading-spinner,
          .vjs-big-play-button,
          .vjs-control-bar,
          .vjs-caption-settings,
          .vjs-error-display { display: none; }
        }

        // > video {
        //   @include size(auto, 100%);
        //   @include absoluteCenterPercent(null, null);
        //   z-index: 1 !important;
        // }

        // .video-z-overlay {
        //   @include size(100%, 100%);
        //   @include absoluteTo(left, top);
        //   z-index: 2 !important;
        // }
        .swiper-lazy-preloader { z-index: 3; }
      }
      .cover-title {
        width: 100%;
        position: absolute;
        left: 0;
        padding: {
          left: 15px;
          right: 15px;
        }
        font-weight: 700;
        color: $white;
        // overflow: hidden;
        z-index: 3;
        word-break: break-word;
        
        &.top { top: 96px; }
        &.bottom {
          bottom: 0;
          padding-top: 15px;
          padding-bottom: 99px;
        }
        &.centered-text { text-align: center; }
        &.rtl-text { text-align: right; }
        &.font-xlarge {
          font-size: 3.875em;
          line-height: 1.075em;
        }
        &.font-large {
          font-size: 3.125em;
          line-height: 1.25em;
        }
        &.font-normal {
          font-size: 2.375em;
          line-height: 1.325em;
        }
        
        > button {
          position: absolute;
          bottom: 0;
          left: 3%;
          margin: 0 0 -76px 76px;
          padding: 12px 15px;
          background-color: $lightBlue400;
          border: 0;
          border-radius: 3px;
          font: {
            size: 18px;
            weight: 400;
          }
          line-height: 28px;
          letter-spacing: 0.02135em;
          box-shadow: 0 0 27px 5px rgba($black, 0.45);
        }
        > p {
          width: 100%;
          padding: 0 3%;
          text-shadow: 0 0 27px #222;

          &.subtitle-heading {
            font-size: 0.421em;
            line-height: 1.5em;
          }
        }
      }
    }
    .news-item-article {
      position: relative;
      padding-top: 84px;
      overflow: auto;
      // -webkit-overflow-scrolling: touch;
      z-index: 5;
    }
  }
  .preloader-content {
    height: 100%;

    &::before {
      content: '';
      @include size(100%, 242px);
      @include absoluteTo(top, left);
      background-image: -moz-linear-gradient( 90deg, rgba($black, 0) 0%, rgba($black, 0.65) 100% );
      background-image: -webkit-linear-gradient( 90deg, rgba($black, 0) 0%, rgba($black, 0.65) 100% );
      background-image: -ms-linear-gradient( 90deg, rgba($black, 0) 0%, rgba($black, 0.65) 100% );
      z-index: 2;
    }
    &::after {
      content: '';
      @include size(100%, 130px);
      @include absoluteTo(bottom, left);
      background-image: -moz-linear-gradient( 90deg, rgba($black, 0.65) 0%, rgba($black, 0) 100% );
      background-image: -webkit-linear-gradient( 90deg, rgba($black, 0.65) 0%, rgba($black, 0) 100% );
      background-image: -ms-linear-gradient( 90deg, rgba($black, 0.65) 0%, rgba($black, 0) 100% );
      z-index: 2;
    }

    .loader {
      @include size(42px, 42px);
      @include absoluteCenterPx(42px, 42px);
      background-color: $global_body_bg;
      white-space: nowrap;

      > i.spinner {
        @include size(100%, 100%);
        display: block;
        background: $ajax_spinner no-repeat center center / 42px 42px;
        font-size: 0;
        animation: swiper-preloader-spin 1s steps(12, end) infinite;
      }
      > .status {
        width: 200px;
        display: block;
        margin: {
          top: 7px;
          left: -79px;
        }
        text-align: center;
      }
    }
  }
}

// width: 42px;
//   height: 42px;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   margin-left: -21px;
//   margin-top: -21px;
//   z-index: 10;
//   -webkit-transform-origin: 50%;
//   -moz-transform-origin: 50%;
//   transform-origin: 50%;
//   -webkit-animation: swiper-preloader-spin 1s steps(12,end) infinite;
//   -moz-animation: swiper-preloader-spin 1s steps(12,end) infinite;
//   animation: swiper-preloader-spin 1s steps(12,end) infinite;
// }

/* Read News Content Style
 ================================================== */
#read {
  height: 100%;
  padding-top: 84px;
  background-color: $global_body_bg;
  z-index: 102;
  overflow: auto;
}

/* News Article Style
 ================================================== */
#landing .news-item-article, #read {
  .article-preloader {
    @include size(100%, 100%);
    @include absoluteTo(top, left);
    padding-top: 84px;
    background-color:  $global_body_bg;
    z-index: 3;
    overflow: hidden;

    .ap-header {
      .ap-rubrics {
        width: 94%;
        margin: 20px auto 0;

        > span {
          height: 23px;
          display: inline-block;
          margin-right: 7px;
          vertical-align: top;
          font-size: 0.6875em;
          line-height: 23px;
          color: #E4E4E4;

          &:first-of-type,
          &:last-of-type {
            width: 60px;
            background-color: #E4E4E4;
          }
          &:last-of-type { margin-right: 0; }
        }
      }

      .ap-title {
        @include size(580px, 37px);
        display: block;
        margin: {
          top: 10px;
          left: 3%;
        }
        background-color: #E4E4E4;
      }

      .ap-meta {
        @include size(278px, 42px);
        margin: {
          top: 18px;
          left: 3%;
        }

        .apm-l { @include size(50%, 100%); }
        .apm-r {
          @include size(46%, 100%);
          margin-left: 4%;
        }
        .apm-l, .apm-r {
          > span {
            display: block;
            background-color: #E4E4E4;

            &:first-of-type { @include size(62%, 17px); }
            &:last-of-type {
              @include size(82%, 21px);
              margin-top: 4px;
            }
          }
        }
      }
    }

    .ap-body {
      height: 100%;
      margin-top: 22px;

      .apb-image {
        height: 470px;
        display: block;
        background-color: #E4E4E4;
        margin: 0 -15px 0;
      }

      .apb-paragraph {
        width: 94%;
        margin: 24px auto 0;

        > span {
          height: 21px;
          display: block;
          margin-bottom: 13px;
          background-color: #E4E4E4;

          &:nth-child(1) { width: 80%; }
          &:nth-child(2) { width: 77%; }
          &:nth-child(3) { width: 90%; }
          &:nth-child(4) { width: 89%; }
          &:nth-child(5) { width: 50%; }
        }
      }
    }
  }

  > article {
    width: 100%;

    .news-header {
      .news-rubrics {
        @include size(94%, 24px);
        margin: 20px auto 0;
        position: relative;

        &::after {
          content: "";
          @include size(100%, 2px);
          position: absolute;
          left: 0;
          top: 12px;
          background-color: #E0E0E0;
        }

        .rubrics-wrapper {
          @include size(auto, 100%);
          display: inline-block;
          position: relative;
          background-color: $global_body_bg;
          z-index: 2;

          > a {
            font-weight: 700;
            line-height: 24px;
            color: $text_light;
            padding-right: 11px;
          }
          .bullet {
            font-size: 0.6875em;
            line-height: 24px;
            color: $text_xlight;
            padding-right: 11px;
          }
        }
      }
      .news-title {
        width: 94%;
        margin: 7px auto 17px;
        font: {
          size: 2.125em;
          weight: 700;
        }
        color: $text_heading;
        line-height: 1.22em;
      }
      .news-meta {
        width: 94%;
        margin: 0 auto 22px;

        .meta-entry {
          position: relative;

          &.post-date {
            border-right: solid 2px #E0E0E0;
            padding-right: 20px;
          }
          &.reporter  {
            margin-left: 18px;
            padding-left: 56px;
          }

          .meta-label {
            font-size: 0.8125em;
            color: $text_light;
            text-transform: uppercase;
            display: block;
            line-height: 1.4615em;
          }
          .meta-value {
            font-weight: 700;
            color: $text_regular;
            display: block;
          }
          .photo {
            @include size(46px, 46px);
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -23px;
            border-radius: 46px;
            overflow: hidden;

            > img {
              @include size(100%, 100%);
              display: block;
            }
          }
        }
      }
    }
    .news-entry {
      > p, div, section { margin-bottom: 19px; }
      > p {
        font-size: 1.0625em;
        line-height: 1.58823em;
        color: $text_regular;
        letter-spacing: 0.25pt;

        &:not(.row) {
          width: 94%;
          margin: {
            left: auto;
            right: auto;
          }
        }
        &:nth-child(2) {
          &:first-letter {
            float: left;
            padding: 4px 8px 0 0;
            font-size: 4.6875em;
            line-height: 0.875em;
            color: $text_heading;
          }
        }
        &.row {
          // min-height: 64px;
          position: relative;
          // background-color: $greyE7;
          // overflow: hidden;
          
          &:first-child { margin-bottom: 33px; }
          &:not(:first-child) {
            margin-top: 33px;
            margin-bottom: 33px;
            padding: 0 7%;
          }

          .figure {
            &.figure-headline, &.figure-paragraph {
              position: relative;
              display: block;
              background-color: $greyE7;
              overflow: hidden;

              &::before {
                content: "";
                padding-top: 56.25%;
                display: block;
              }

              > img {
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            &.figure-headline {}
            &.figure-paragraph { width: 70%; }
          }

          .caption {
            &.caption-headline {
              display: block;
              max-width: 50%;
              @include absoluteTo(right, bottom);
              padding: 13px 3% 13px;
              font: {
                size: 0.9375em;
                style: italic;
                weight: 700;
              }
              text-align: right;
              background-color: rgba(250, 250, 250, 0.88);

              &::after {
                content: "";
                @include size(50%, 100%);
                position: absolute;
                left: -50%;
                bottom: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,fafafa+100&0+0,0.88+100 */
                background: -moz-linear-gradient(left,  rgba(250,250,250,0) 0%, rgba(250,250,250,0.88) 100%); /* FF3.6-15 */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(250,250,250,0)), color-stop(100%,rgba(250,250,250,0.88))); /* Chrome4-9,Safari4-5 */
                background: -webkit-linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.88) 100%); /* Chrome10-25,Safari5.1-6 */
                background: -o-linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.88) 100%); /* Opera 11.10-11.50 */
                background: -ms-linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.88) 100%); /* IE10 preview */
                background: linear-gradient(to right,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.88) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#e0fafafa',GradientType=1 ); /* IE6-9 */
              }
            }
            &.caption-paragraph {
              position: absolute;
              top: 0;
              right: 7%;
              width: 23%;
              padding: 18px 0;
              font-size: 23px;
              line-height: 37px;
              font-style: italic;
              color: $text_light;

              &::before {
                content: "";
                @include size(100%, 5px);
                @include absoluteTo(left, top);
                background-color: #E0E0E0;
              }
              &::after {
                content: "";
                @include size(100%, 5px);
                @include absoluteTo(left, bottom);
                background-color: #E0E0E0;
              }
            }
          }

          
          > iframe, > video {
            @include size(100%, 100%);
            @include absoluteTo(left, top);
          }
        }

        // iframe {
        //   @include size(100%, auto);
        //   min-height: 202px;
        // }
      }
      > h3 {
        width: 94%;
        margin: 23px auto 14px;
        font: {
          size: 1.5em;
          weight: 700;
        }
        color: $text_heading;
      }
      > blockquote {
        line-height: 1.6875em;
        font-style: italic;
        border-left-color: #E0E0E0;
      }

      .related-news {
        padding: 0 19px;
        border: {
          style: solid;
          color: #CCC;
          width: 2px 0;
        }
        background-color: #F3F3F3;

        > h3 {
          margin: 18px 0 13px;
          font: {
            size: 1.0625em;
            weight: 700;
          }
        }
        > ul {
          margin-bottom: 14px;
          list-style: square;

          > li {
            margin: 0 0 14px 18px;

            &:last-child { margin-bottom: 0; }

            > a {
              display: block;
              color: $indigo400;
            }
          }
        }
      }
    }
    .news-av-wrapper {
      width: 100%;
      position: relative;
      clear: both;

      &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }

      > video {
        @include size(100%, 100%);
        @include absoluteTo(left, top);
        right: 0;
        bottom: 0;
      }
    }
    .news-footer {
      padding-top: 19px;
      padding-bottom: 19px;
      background-color: $blue;
      text-align: center;

      &::before {
        content: '';
        display: block;
        @include size(76px, 183px);
        position: absolute;
        top: 16px;
        left: 5px;
        background: url('../images/emoji-pattern-01.png') no-repeat 100% 100% / contain;
        z-index: 1;
      }
      &::after {
        content: '';
        display: block;
        @include size(74px, 161px);
        position: absolute;
        top: 23px;
        right: 8px;
        background: url('../images/emoji-pattern-02.png') no-repeat 100% 100% / contain;
        z-index: 1;
      }

      .subscribe-intro {
        position: relative;
        color: $white;
        text-align: center;
        line-height: 1.5em;
        // margin-bottom: 12px;
        z-index: 2;

        > span {
          display: block;

          &:first-child {
            font-size: 1.125em;

            > span, > i {
              display: inline-block;
              height: 15px;
              line-height: 15px;
              font-weight: 700;
            }
            
            > span { vertical-align: text-top; }
            > i.logo-text {
              position: relative;
              width: 84px;
              background: url('../images/rima-text-smwhite.png') no-repeat 100% / contain;
              font-size: 0;
              vertical-align: top;
            }
          }
          &:last-child {
            margin-top: 5px;
            font-size: 1.0625em;
            font-weight: 300;
          }
        }
      }
      .subscribe-form-wrapper {
        position: relative;

        > input[type=email] {
          @include size(70%, 42px);
          position: relative;
          margin: 0 auto 5px;
          padding: 6px 4px;
          background-color: $global_body_bg;
          border: none;
          border-radius: 3px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.33);
          font-size: 0.9375em;
          text-align: center;
          outline: none;
          z-index: 2;
          @include placeholderColor(#C5C5C5);
        }

        > button.subscribe-button {
          @include size(70%, 42px);
          padding: 0 13px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.33);
          border: none;
          border-radius: 3px;
          font: {
            size: 0.875em;
            weight: 700;
          }
          letter-spacing: 0.078125em;
          text-transform: uppercase;
          line-height: 42px;
          z-index: 2;

          &.guest-mode {
            background-color: #073e86;
            color: $global_body_bg;
          }
          &.known-mode {
            background-color: transparent;
            border-color: #F5F5F5;
            color: #F5F5F5;

            &::after {
              content: 'D';
              display: inline;
            }
          }
        }
      }
      .subscribe-outro {
        margin: 4px 0 0;
        font-size: 0.9375em;
        color: #073e86;
      }
    }
  }
}