/* RUBRICS PAGE STYLE */
#spinner {
  @include size(100%, 100%);
  @include absoluteTo(left, top);
  overflow: hidden;
  opacity: 1;
  z-index: 9001;
  transition: opacity 250ms;

  &.fadeout { opacity: 0; }

  #spinner-overlay {
    @include size(100%, 100%);
    @include absoluteTo(left, top);
    background: rgba($black, 0.55);
    z-index: 9002;
  }
  #spinner-icon-container {
    @include size(48px, 48px);
    @include absoluteCenterPx(48px, 48px);
    padding: 3px;
    border-radius: 32px;
    background-color: $global_body_bg;
    overflow: hidden;
    z-index: 9003;
    // transform: translateY(-299px) scale(0);
    // transition: transform 325ms ease-in-out;

    // &.spinner-progressing {
    //   transform: translateY(0) scale(1);
    // }
    // &.spinner-hiding {}

    > i {
      @include size(100%, 100%);
      display: block;
      background: $ajax_spinner no-repeat center center / 36px 36px;
      font-size: 0;
      animation: swiper-preloader-spin 1s steps(12, end) infinite;
    }
  }
}

#rubrics {
  // @include size(100%, 100%);
  height: 100%;
  padding-top: 84px;
  @include absoluteTo(left, top);
  background-color: $global_body_bg;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  #rubrics-nav {
    background-color: #333;
    padding: 11px 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    > ul {
      @include size(auto, 182px);
      white-space: nowrap;
      transform-style: preserve-3d;

      > li {
        @include size(132px, 182px);
        position: relative;
        display: inline-block;
        margin-right: 2px;
        border: solid 1px #151515;
        border-radius: 2px;
        overflow: hidden;
        
        &:first-child { margin-left: 11px; }
        &:last-child { margin-right: 11px; }

        > a {
          @include size(136px, 100%);
          display: block;
          margin-left: -2px;

          > img {
            height: 100%;
            @include absoluteCenterPercent(null, null);
          }

          .rima-lazy-spinner {
            z-index: 5;

            .spinner {
              top: initial;
              bottom: 25%;
              margin: {
                top: auto;
                bottom: -12.5%;
              }

              > span { background-color: $white; }
            }
          }

          .overlay-accent {
            @include size(100%, 100%);
            display: block;
            position: relative;

            &.red { background-color: rgba($red400, 0.45); }
            &.pink { background-color: rgba($pink400, 0.45); }
            &.purple { background-color: rgba($purple400, 0.45); }
            &.deep-purple { background-color: rgba($deepPurple400, 0.45); }
            &.indigo { background-color: rgba($indigo400, 0.45); }
            &.blue { background-color: rgba($blue400, 0.45); }
            &.light-blue { background-color: rgba($lightBlue400, 0.45); }
            &.cyan { background-color: rgba($cyan400, 0.45); }
            &.teal { background-color: rgba($teal400, 0.45); }
            &.green { background-color: rgba($green400, 0.45); }
            &.light-green { background-color: rgba($lightGreen400, 0.45); }
            &.lime { background-color: rgba($lime400, 0.45); }
            &.yellow { background-color: rgba($yellow400, 0.45); }
            &.amber { background-color: rgba($amber400, 0.45); }
            &.orange { background-color: rgba($orange400, 0.45); }
            &.deep-orange { background-color: rgba($deepOrange400, 0.45); }

            &:hover {
              .overlay-label {
                &::before {
                  width: 0;
                  left: 0;
                }
                &::after {
                  width: 0;
                  right: 0;
                }
              }
            }

            .overlay-label {
              width: 130px;
              padding: 6px 0 10px;
              @include absoluteCenterPercent(130px, null);
              font: {
                size: 1.125em;
                weight: 700;
              }
              text: {
                align: center;
                shadow: 0 0 13px rgba($black, 0.55);
              }
              letter-spacing: 0.25pt;
              color: $white;

              &::before {
                content: '';
                @include size(30%, 2px);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: $white;
                transition: left 0.2s ease-out, width 0.1s ease-out 0.1s;
              }
              &::after {
                content: '';
                @include size(30%, 2px);
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
                background-color: $white;
                transition: right 0.2s ease-out, width 0.1s ease-out 0.1s;
              }
            }
          }
        }
      }
    }
  }

  #rubrics-listing {
    // clear: left;

    #listing-toggler {
      @include size(100%, 67px);
      background-color: #F5F5F5;
      border-bottom: solid 1px $greyC5;

      > button {
        // background-color: transparent;
        // border: 0;
        appearance: none;
        font: {
          size: 1.1875em;
          weight: 700;
        }
        // line-height: 58px;
        color: #BBB;
        outline: none;
        
        @include size(50%, 66px);
        position: relative;
        padding: 0;
        line-height: 66px;
        background-color: #F5F5F5;
        border: {
          style: solid;
          color: #C5C5C5;
          width: 0;
        }

        &.active {
          height: 67px;
          border-bottom-color: #448aff;
          border-bottom-width: 3px;
          color: #448AFF;
          background-color: #fff;
          z-index: 2;
        }

        &:first-of-type {
          &.active { border-right-width: 1px; }
        }
        &:last-of-type {
          &.active { border-left-width: 1px; }
        }
        
        // &:first-of-type {
        //   padding-left: 15px;
        //   padding-right: 13px;
        // }
        // &:last-of-type {
        //   padding-left: 13px;
        //   padding-right: 15px;
        // }
        // &.active {  }
      }

      .divider {
        text-align: center;
        font-size: 0.6875em;
        line-height: 58px;
        color: #BBB;
      }
    }

    #listing-content {
      .category-section {
        > li {
          padding: 13px 0;

          &:not(:last-child) { border-bottom: solid 1px $greyC5; }

          > a {
            position: relative;
            display: block;
            text-decoration: none;
            float: none;
          }

          &.regular {
            // min-height: 116px;
            position: relative;

            .left-hand {
              // width: 33%;
              // @include absoluteTo(left, top);
              // margin-left: 15px;
              width: 30%;
              margin: 0 4% 0 2%;
              position: relative;

              &::before {
                content: '';
                display: block;
                padding-top: 75%;
              }

              .image-box {
                @include absoluteTo(left, top);
                right: 0;
                bottom: 0;
                background-color: $greyE7;
                overflow: hidden;

                > img {
                  min-width: 100%;
                  height: 100%;
                  @include absoluteCenterPercent(null, 100%);
                }
              }
              .category-label {
                max-width: 100%;
                @include absoluteTo(left, top);
                margin: 4px 0 0 -5px;
                padding: 0 7px;
                background-color: rgba($text_heading, 0.66);
                font-size: 0.9375em;
                line-height: 1.5625em;
                color: $white;
              }
            }
            .right-hand {
              // padding-left: 41%;
              width: 64%;

              > h2 {
                margin: 0 0 6px;
                font: {
                  size: 1.125em;
                  weight: 700;
                }
                color: $text_heading;
                line-height: 1.2857em;
              }
              > time {
                font-size: 0.875em;
                color: $text_light;
              }
            }
          }
          &.featured {
            padding: 0 0 7px;
            border-bottom: 0;
            position: relative;

            // &::before {
            //   content: '';
            //   display: block;
            //   @include size(15px, 100%, content-box);
            //   @include absoluteTo(left, top);
            //   margin: -1px 0 0 -15px;
            //   border: {
            //     style: solid;
            //     color: $greyC5;
            //     width: 1px 0 0 0;;
            //   }
            // }
            // &::after {
            //   content: '';
            //   display: block;
            //   @include size(15px, 100%, content-box);
            //   @include absoluteTo(right, top);
            //   margin: -1px -15px 0 0;
            //   border: {
            //     style: solid;
            //     color: $greyC5;
            //     width: 1px 0 0 0;
            //   }
            // }

            .category-label {
              float: left;
              display: block;
              margin: 0 0 5px 0;
              padding: 7px 13px 7px 16px;
              background-color: #E5E5E5;
              line-height: 18px;
              color: $text_light;
              font: {
                size: 1.0625em;
                weight: 700;
              }
            }

            h2 {
              clear: left;
              margin: 0 0 3px;
              padding: 0 15px;
              font: {
                size: 1.6875em;
                weight: 700;
              }
              color: $text_heading;
              line-height: 1.2857em;
            }
            time {
              padding: 0 15px;
              font-size: 0.9375em;
              color: $text_light;
            }

            .image-box {
              width: 100%;
              margin-top: 14px;
              position: relative;
              background-color: $greyE7;
              overflow: hidden;

              &::before {
                content: '';
                display: block;
                padding-top: 56.25%;
              }

              > img {
                min-width: 100%;
                height: 100%;
                @include absoluteCenterPercent(null, null);
              }
            }
          }
        }
      }
      #loadmore {
        position: relative;
        margin: 15px 0 33px;


        > i.spinner {
          @include size(24px, 24px);
          @include absoluteCenterPx(24px, 24px);
          background: $ajax_spinner no-repeat center center / 24px 24px;
          animation: swiper-preloader-spin 1s steps(12, end) infinite;
          z-index: 1;
        }

        > button {
          @include size(100%, 38px);
          position: relative;
          z-index: 2;
          background-color: $lightBlue400;
          border: none;
          border-radius: 3px;
          color: $white;
          font-size: 0.9375em;

          &:disabled {
            background-color: transparent;
            border: solid 1px $greyD5;
            font-size: 0em;

            &.no-border { border-color: $global_body_bg; }
          }
        }
      }
    }
  }
}