/* SEARCH PAGE STYLE */
#search {
  // @include size(100%, 100%);
  height: 100%;
  padding-top: 84px;
  @include absoluteTo(left, top);
  background-color: $global_body_bg;
  z-index: 101;
  // -webkit-overflow-scrolling: touch;
  animation-duration: 175ms;
  animation-timing-function: ease-out;

  #topic-heading {
    height: 70px;
    position: relative;
    padding: 23px 15px 20px;
    margin: 0;
    color: $text_heading;
    background-color: $greyF1;
    border-bottom: solid 1px $greyD5;
    box-shadow: 0 1px 7px rgba($black, 0.23);
    z-index: 5;

    > button {
      @include size(36px, 36px);
      padding: 0;
      border: none;
      font-size: 2.25em;
      background-color: transparent;
      margin: -5px 9px 0 0;
    }
    
    #topic-title {
      margin: 0;
      font: {
        size: 1.5em;
        weight: 700;
      }
    }
  }
  #topic-picker {
    height: 100%;
    @include absoluteTo(top, left);
    padding-top: 134px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;

    &::before {
      content: '';
      @include size(1px, 100%);
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      margin-left: 25px;
      background-color: $greyD5;
      z-index: 1;
    }

    > ul {
      @include size(100%, auto);
      padding: 7px 0 14px;

      > li {
        padding-left: 34px;
        position: relative;
        z-index: 3;
        animation-duration: 0.425s;

        &::before {
          content: '';
          display: block;
          @include size(22px, 22px);
          @include absoluteTo(top, left);
          margin-top: 14px;
          background-color: $global_body_bg;
          border: solid 1px $greyD5;
          border-radius: 100%;
          z-index: 1;
        }
        &::after {
          content: '';
          display: block;
          @include size(8px, 8px);
          @include absoluteTo(top, left);
          margin: 21px 0 0 7px;
          background-color: $blue;
          border-radius: 100%;
          z-index: 2;
        }

        &:last-child {
          .tag-wrapper { border-bottom: 0; }
        }
        
        .tag-wrapper {
          border: {
            style: solid;
            width: 0 0 1px;
            color: $greyD5;
          }

          > a {
            display: block;
            padding: 16px 21px 11px 11px;

            > h3 {
              margin-top: 0;
              margin-bottom: 3px;
              font-size: 1.125em;
              display: block;
              color: $blue;
            }
            > p {
              font-size: 0.875em;
              color: #757575;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    #topic-overlay {
      @include size(100%, 100%);
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.55);
      z-index: 3;
    }
  }
  #topic-news-picker,
  #search-result {
    height: 100%;
    padding-top: 127px;
    @include absoluteTo(top, left);
    background-color: $global_body_bg;
    overflow-y: auto;
    z-index: 2;
    animation-duration: 175ms;
    animation-timing-function: ease-out;

    > ul {
      @include size(100%, auto);
      min-height: 100%;

      > li {
        padding: 13px 0;

        &:not(:last-child) { border-bottom: solid 1px $greyC5; }

        > a {
          position: relative;
          display: block;
          text-decoration: none;
          float: none;
        }

        &.regular {
          // min-height: 116px;
          position: relative;

          .left-hand {
            // width: 33%;
            // @include absoluteTo(left, top);
            // margin-left: 15px;
            width: 30%;
            margin: 0 4% 0 2%;
            position: relative;

            &::before {
              content: '';
              display: block;
              padding-top: 75%;
            }

            .image-box {
              @include absoluteTo(left, top);
              right: 0;
              bottom: 0;
              background-color: $greyE7;
              overflow: hidden;

              > img {
                min-width: 100%;
                height: 100%;
                @include absoluteCenterPercent(null, 100%);
              }
            }
            .category-label {
              max-width: 100%;
              @include absoluteTo(left, top);
              margin: 4px 0 0 -5px;
              padding: 0 7px;
              background-color: rgba($text_heading, 0.66);
              font-size: 0.9375em;
              line-height: 1.5625em;
              color: $white;
            }
          }
          .right-hand {
            // padding-left: 41%;
            width: 64%;

            > h3 {
              margin: 0 0 6px;
              font: {
                size: 1.125em;
                weight: 700;
              }
              color: $text_heading;
              line-height: 1.2857em;
            }
            > time {
              font-size: 0.875em;
              color: $text_light;
            }
          }
        }
        &.featured {
          padding: 0 0 7px;
          border-bottom: 0;
          position: relative;

          // &::before {
          //   content: '';
          //   display: block;
          //   @include size(15px, 100%, content-box);
          //   @include absoluteTo(left, top);
          //   margin: -1px 0 0 -15px;
          //   border: {
          //     style: solid;
          //     color: $greyC5;
          //     width: 1px 0 0 0;;
          //   }
          // }
          // &::after {
          //   content: '';
          //   display: block;
          //   @include size(15px, 100%, content-box);
          //   @include absoluteTo(right, top);
          //   margin: -1px -15px 0 0;
          //   border: {
          //     style: solid;
          //     color: $greyC5;
          //     width: 1px 0 0 0;
          //   }
          // }

          .category-label {
            float: left;
            display: block;
            margin: 0 0 5px 0;
            padding: 7px 13px 7px 16px;
            background-color: #E5E5E5;
            line-height: 18px;
            color: $text_light;
            font: {
              size: 1.0625em;
              weight: 700;
            }
          }

          h3 {
            clear: left;
            margin: 0 0 3px;
            padding: 0 15px;
            font: {
              size: 1.6875em;
              weight: 700;
            }
            color: $text_heading;
            line-height: 1.2857em;
          }
          time {
            padding: 0 15px;
            font-size: 0.9375em;
            color: $text_light;
          }

          .image-box {
            width: 100%;
            margin-top: 14px;
            position: relative;
            overflow: hidden;

            &::before {
              content: '';
              display: block;
              padding-top: 56.25%;
            }

            > img {
              min-width: 100%;
              height: 100%;
              @include absoluteCenterPercent(null, null);
            }
          }
        }
      }
    }
  }
  #search-result {
    padding-top: 58px;
    z-index: 6;

    .result-info {
      width: 100%;
      margin-top: 15px;

      > div {
        font-size: 0.8125em;

        &:first-child { font-weight: 700; }
        &:last-child {
          > span {
            @include size(41px, 16px);
            display: inline-block;
            font-size: 0;
            background: url('../images/google-logo-xs.png') no-repeat;
            background-size: cover;
          }
        }
      }
    }
    #loadmore-cse {
      position: relative;
      margin: 15px 0 33px;

      > i.spinner {
        @include size(24px, 24px);
        @include absoluteCenterPx(24px, 24px);
        background: $ajax_spinner no-repeat center center / 24px 24px;
        animation: swiper-preloader-spin 1s steps(12, end) infinite;
        z-index: 1;
      }

      > button {
        @include size(100%, 38px);
        position: relative;
        z-index: 2;
        background-color: $lightBlue400;
        border: none;
        border-radius: 3px;
        color: $white;
        font-size: 0.9375em;

        &:disabled {
          background-color: transparent;
          border: solid 1px $greyD5;
          font-size: 0em;

          &.no-border { border-color: $global_body_bg; }
        }
      }
    }
  }
  #search-spinner {
    @include size(42px, 42px);
    @include absoluteCenterPx(42px, 42px);
    white-space: nowrap;
    z-index: 100;

    > i.spinner {
      @include size(100%, 100%);
      display: block;
      background: $ajax_spinner no-repeat center center / 42px 42px;
      font-size: 0;
      animation: swiper-preloader-spin 1s steps(12, end) infinite;
    }
    > .status {
      width: 200px;
      display: block;
      margin: {
        top: 7px;
        left: -79px;
      }
      text-align: center;
    }
  }
}