// SCSS VARIABLES
// 
// Colors - Primary
$blue: #2196F3;

// Colors - Accent
$red400        : #ff1744;
$pink400       : #f50057;
$purple400     : #d500f9;
$deepPurple400 : #651fff;
$indigo400     : #3d5afe;
$blue400       : #2979ff;
$lightBlue400  : #00b0ff;
$cyan400       : #00e5ff;
$teal400       : #1de9b6;
$green400      : #00e676;
$lightGreen400 : #76ff03;
$lime400       : #c6ff00;
$yellow400     : #ffea00;
$amber400      : #ffc400;
$orange400     : #ff9100;
$deepOrange400 : #ff3d00;

// Colors - White to Black
$white  : #FFF;
$greyF1 : #F1F1F1;
$greyE7 : #E7E7E7;
$greyD5 : #D5D5D5;
$greyC5 : #C5C5C5;
$grey69 : #696969;
$black  : #000;

// Colors - Layout
$global_body_bg  : #FAFAFA;
// $global_footer_bg: #211E1E;
// $home_client_bg  : #DDD;
// $home_media_bg   : #D4D1D3;
// $input_border    : #CCC;

// Colors - Text
$text_heading: #263238;
$text_xlight : #BBB;
$text_light  : #757575;
$text_regular: #333;
// $placeholder : #999;

// Others
$ajax_spinner: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");