/*!
 * Rimanews Web Application Stylesheet
 * =============================================================================
 * Author   : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Copyright: Rimanews.com (PT. Rimanews Indonesia)
 * Since    : 2016-08-28 (v1.0.0) - Initial version
 * Updated  : 2016-10-21 (v1.1.0) - Change directory for style import
 */

// General Notes
// =============================================================================
// 1. Write all styles here using SASS import feature and use this
//    template as a base (master) stylesheets. Writing styles in
//    the HTML markup page (especially outside <head> tag) is not
//    recommended because those style will block markup parsing and
//    render.
// 2. This template will produce ONE CSS FILE only, which is venuekita.min.css,
//    in compressed format. All imported style will be automatically included.
// 3. If you use Bootstrap CSS file, place the compiled version of this template
//    (venuekita.min.css) after it, so this template could override the
//    Bootstrap's default styles rules when needed.
//    Example:
//      <head>
//        ...
//        <link href="path/to/bootstrap.css" />
//        <link href="path/to/venuekita.min.css" />
//        ...
//      </head>
// 4. Avoid !important rules as much as you can. Using many !important rule
//    means the stylesheets were written in awful way and soon will need a
//    refactor because of many style issues. !important rules is recommended
//    to use only in "3rd Party JS Plugin's Style Override" section
//    (see the bottom of this template), because sometimes JS plugins write a
//    lot of inline style inside HTML tags and cannot be overridden without
//    !important rule.
// 5. All style rules in components and contents directory were intended for
//    PC screen only (between 1025px min and 1280px max). Use each responsive
//    stylesheet files in responsive directory for more specific media styling.

// Media Queries Specification
// =============================================================================
// Base Viewport, IMPORTANT:
// [1] min: 320 - max: 991 (all mobile base)
// [2] min: 1025 - max: 1280 (all desktop base)
// 
// Primary Scale, IMPORTANT:
// [1] min: 768 - max: 991 (portrait tablet)
// [2] min: 992 - max: 1199 (landscape tablet and small monitor)
// 
// Secondary Scale, OPTIONAL:
//   [1] min: 1400 (desktop/TV, base min value for any larger screen than above)

// Core Presets
@import "_variables";
@import "_mixins";

// Base
@import "base/_core";
@import "base/_iconorima";
// @import "base/_animation";

// Components
@import "components/_spinner";
@import "components/_topbar";
@import "components/_sharing";

// Pages
@import "pages/_news";
@import "pages/_rubrics";
@import "pages/_search";

// 3rd Party JS Plugin's Style Override
// @import "third-party/_trip_advisor_widget";
// @import "third-party/_datetime_picker";
// @import "third-party/_noty";

// Responsive
@media screen {
  // Mobile Base
  @media (max-width: 767px) { @import "responsive/_mobile_base"; }
  // Tablet
  @media (min-width: 768px)
     and (max-width: 1199px) { @import "responsive/_tablet"; }
  // Medium Desktop
  // @media (min-width: 992px)
  //    and (max-width: 1199px) { @import "responsive/_desktop_md"; }
  // Large Desktop
  @media (min-width: 1200px)
     and (max-width: 1799px) { @import "responsive/_desktop_lg"; }
  // Extra Large Desktop
  @media (min-width: 1800px) { @import "responsive/_desktop_xlg"; }
}
