/* SHARING STYLE */
#sharing {
  @include size(100%, 100%);
  @include absoluteTo(left, top);
  z-index: 1000;

  #sharing-overlay {
    @include size(100%, 100%);
    @include absoluteTo(left, top);
    background: rgba($black, 0.85);
  }
  #sharing-container {
    .intents-row {
      > div {
        color: $white;
        border: solid 1px $black;

        &.facebook {
          background-color: #3B5998;
        }
        &.twitter {
          background-color: #2AA2EF;
        }
        &.gplus {
          background-color: #DE5246;
        }
        &.line {
          background-color: #4ECD00;
        }
        &.whatsapp {
          background-color: #0DC143;
        }
        &.copy {
          background-color: #4EC9F5;
        }

        > button {
          width: 100%;
          padding: 9px 0;
          white-space: nowrap;
          background-color: transparent;
          outline: none;
          border: none;
        }
        > a { display: none; }

        i.iconorima {
          height: 25px;
          display: block;
          margin: 4px 0;
          font-size: 1.5em;
        }
      }
    }
  }
}