/* SPINNER LOADER */
.rima-lazy-spinner {
  &.block {
    @include size(100%, 100%);
    @include absoluteTo(left, top);
    display: block;
  }
  &.inline { display: inline-block; }
  &.small {
    .spinner {
      @include size(34px, 10px);
      @include absoluteCenterPx(34px, 10px);
      > span {
        @include size(10px, 10px);
        &:not(:last-of-type) { margin-right: 2px; }
      }
    }
  }
  &.medium {
    .spinner {
      @include size(66px, 20px);
      @include absoluteCenterPx(66px, 20px);
      > span {
        @include size(20px, 20px);
        &:not(:last-of-type) { margin-right: 3px; }
      }
    }
  }
  &.large {
    .spinner {
      @include size(98px, 30px);
      @include absoluteCenterPx(98px, 30px);
      > span {
        @include size(30px, 30px);
        &:not(:last-of-type) { margin-right: 4px; }
      }
    }
  }

  .spinner {
    > span {
      background-color: rgba($blue, 0.5);
      border-radius: 100%;
      // -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;

      &.bounce1 {
        // -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      &.bounce2 {
        // -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
    }
  }
}

// @-webkit-keyframes sk-bouncedelay {
//   0%, 80%, 100% {
//     // -webkit-transform: scale(0);
//     transform: scale(0);
//   }
//   40% {
//     // -webkit-transform: scale(1.0);
//     transform: scale(1.0);
//   }
// }

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    // -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% { 
    // -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}