/* APPLICATION TOPBAR STYLE */
#app-master-topbar {
  @include size(100%, 84px);
  @include absoluteTo(left, top);
  padding: 18px 15px;
  color: $text_heading;
  background-color: rgba($global_body_bg, 1);
  box-shadow: 0 1px 7px rgba($black, 0.23);
  z-index: 1001;

  &.no-shadow { box-shadow: 0 0 0 rgba($black, 0); }
  &.translucent {
    background-color: rgba($global_body_bg, 0);
    color: $white;

    #topbar-wrapper {
      #app-breadcrumb {
        #breadcrumb-label {
          &.label-logo { background-position: 0 8px; }
        }
      }
    }
  }

  #topbar-wrapper {
    height: 100%;
    position: relative;

    #app-breadcrumb {
      height: 100%;
      position: absolute;
      left: 15px;
      top: 0;
      margin-left: 61px;
      z-index: 1;

      #breadcrumb-label {
        height: 100%;
        min-width: 170px;
        margin: 0;
        font: {
          size: 1.625em;
          weight: 700;
        }
        line-height: 48px;
        letter-spacing: 0.25pt;
        text-transform: uppercase;
        color: inherit;

        &.label-logo {
          background: {
            image: url('../images/rima-text-smsprite.png');
            repeat: no-repeat;
            position: 0 -39px;
            size: 168px 150px;
          }
          font-size: 0;
        }
      }
    }

    #app-controls {
      height: 0;
      min-height: 0;
      position: relative;
      z-index: 3;
      
      .control-group {
        .control-button {
          &:not(:first-child) { margin-left: 39px; }
        }
      }
      .control-button {
        @include size(48px, 48px);

        > a, > button {
          @include size(100%, 100%);
          color: inherit;
          font-size: 3em;
          display: block;
          position: relative;

          > i {
            &.dark { color: $text_heading; }
          }
        }
        > button {
          padding: 0;
          border: none;
          background-color: transparent;
        }

        &#ctrl__rubrics {
          @include absoluteTo(left, top);
          margin-left: 15px;

          > a {
            > i.icon-logo {
              @include size(42px, 42px);
              @include absoluteCenterPx(42px, 42px);
              background: url('../images/webapp-icon.png') no-repeat 100%/cover;
              display: block;
            }
          }
        }
        &#ctrl__search {}
        &#ctrl__share {}
      }
    }

    #search-field {
      @include size(25%, 84px);
      position: fixed;
      padding: 18px 0;
      right: 0;
      top: 0;
      color: $text_heading;
      background-color: $global_body_bg;
      box-shadow: 0 1px 7px rgba($black, 0.23);
      z-index: 2;

      > form {
        @include size(100%, 100%);
        position: relative;
        padding: 0 63px 0 15px;
        z-index: 1;

        > a {
          @include size(48px, 48px);
          display: block;
          @include absoluteTo(left, top);
          margin-left: 15px;
          color: inherit;
          font-size: 3em;
        }
        > input[type='search'] {
          @include size(100%, 100%);
          padding: 0;
          background-color: $global_body_bg;
          border: 0;
          color: $text_regular;
          appearance: none;
          outline: none;
        }
      }
    }
  }
}